Repository oldschoolgg/oldschoolbot, pull requests merged in 2021-08, with the labels that each got.

#2486 Fiz zombie head in +cl hard
  src/lib/data/CollectionsExport.ts
Labels: Status: Waiting For Review

#2487 Allow bosses based on BossInstance to be killed more than one per trip
  src/commands/bso/igne.ts
  src/commands/bso/kinggoldemar.ts
  src/commands/bso/vasa.ts
  src/lib/structures/Boss.ts
  src/tasks/minions/minigames/ignecarusActivity.ts
Labels: BSO, Status: Waiting For Review

#2495 Add bankImage to vasaMagusActivity
  src/tasks/minions/minigames/vasaMagusActivity.ts
Labels: BSO, Status: Waiting For Review

#2504 Add dragon platebody and dragon kiteshield to createables
  src/lib/data/createables.ts
Labels: Status: Waiting For Review

#2514 Allow smokey to be used from bank
  src/commands/Minion/open.ts
Labels: Status: Waiting For Review

#2523 Add coins back to loot
  src/extendables/User/Bank.ts
Labels: Priority: Medium, Status: Waiting For Review

#2440 Corrupt gauntlet
  src/commands/Minion/gauntlet.ts
  src/lib/data/createables.ts
Labels: Status: Waiting For Changes

#2535 Allow users to clear their favorites
  src/commands/Minion/favorite.ts
Labels: Status: Waiting For Review

#2530 Allow KK to give melee xp that the user is training
  src/lib/minions/functions/index.ts
Labels: Status: Waiting For Review

#2525 Add user param to daily.ts sendBankImage
  src/commands/Minion/daily.ts
Labels: Status: Waiting For Review

#2529 Make remy boost jug of wine by 50%
  src/commands/Minion/cook.ts
Labels: BSO, Status: Waiting For Review

#2526 Remove undefined if the user doesn't have smokey while opening things.
  src/commands/Minion/open.ts
Labels: BSO, Status: Waiting For Review

#2532 Enable XP Tracking past 5b for SoTW and leagues
  src/commands/Testing/setxp.ts
  src/extendables/User/Minion.ts
Labels: BSO, Status: Waiting For Review

#2546 [BSO] Fix KK/Nex bug with death's where everyone stays dead the entire trip.
  src/tasks/minions/minigames/kalphiteKingActivity.ts
  src/tasks/minions/minigames/nexActivity.ts
Labels: BSO

#2548 Some Revs Changes
  src/commands/Minion/revs.ts
  src/lib/types/minions.ts
  src/tasks/minions/revenantsActivity.ts
Labels: Status: Waiting For Review

#2490 add driftnet
  src/commands/Minion/driftnet.ts
  src/extendables/User/Minion.ts
  src/lib/constants.ts
  src/lib/data/similarItems.ts
  src/lib/skilling/skills/hunter/driftNet.ts
  src/lib/skilling/types.ts
  src/lib/types/minions.ts
  src/lib/util/taskNameFromType.ts
  src/tasks/minions/HunterActivity/driftNetActivity.ts
Labels: Status: Waiting For Review

#2557 Allow 'disable farming reminders' while busy.
  src/tasks/farmingPatchReminders.ts
Labels: Status: Waiting For Review

#2479 Fix skilling clue distribution
  src/lib/minions/functions/addSkillingClueToLoot.ts
Labels: Status: Waiting For Review

#2574 [BSO] Add Flappy 2x points to pest control
  src/tasks/minions/minigames/pestControlActivity.ts
Labels: BSO

#2576 Fix bug in BSO =spawn when slot is null.
  src/commands/Testing/spawn.ts
Labels: BSO

#2570 [BSO] Let `--names` and `--sv` work on Tame's loot/bank
  src/commands/bso/tames.ts
Labels: BSO

#2591 Make Ori boost more fair (Tames + MonsterKilling)
  src/lib/tames.ts
  src/tasks/minions/monsterActivity.ts
Labels: BSO

#2588 Fix leaderboard.ts sorting and xpgains
  src/commands/Minion/leaderboard.ts
  src/commands/OSRS_Accounts/lvl.ts
  src/extendables/User/Minion.ts
  src/lib/constants.ts
  src/lib/typeorm/XPGainsTable.entity.ts
Labels: Status: Waiting For Review

#2587 Fix qty position on some cl small cl items
  src/tasks/collectionLogTask.ts
Labels: Status: Waiting For Review

#2579 Fix nex gorajan archer to only apply bonus when entire set is equipped
  src/commands/bso/nex.ts
Labels: BSO, Status: Waiting For Review

#2602 Add vasa cloak boost to zulrah
  src/lib/minions/data/killableMonsters/bosses/misc.ts
Labels: BSO, Status: Waiting For Review

#2601 update vasa cloak to have the same defence stats as the abyssal cape
  src/lib/customItems.ts
Labels: BSO, Status: Waiting For Review

#2599 Allow Shelledon to boost drift net
  src/commands/Minion/driftnet.ts
  src/tasks/minions/HunterActivity/driftNetActivity.ts
Labels: BSO, Status: Waiting For Review

#2600 Allow voidling to work from bank, but with a lower output
  src/lib/util/handleTripFinish.ts
Labels: BSO, Status: Waiting For Review

#2597 Allow users to buy multiple from ODS
  src/commands/Minion/ods.ts
Labels: BSO, Status: Waiting For Review

#2425 Add +use command, allow players to use a skill lamp, genie lamp, book of knowledge or dark relic
  src/commands/Minion/lamp.ts
  src/lib/settings/schemas/ClientSchema.ts
  src/lib/settings/types/ClientSettings.ts
Labels: Status: Waiting For Review

#2556 Add hellfire bow
  src/commands/Minion/equip.ts
  src/commands/Minion/gearpresets.ts
  src/commands/Minion/k.ts
  src/commands/Minion/revs.ts
  src/commands/bso/nex.ts
  src/lib/customItems.ts
  src/lib/data/createables.ts
  src/lib/data/similarItems.ts
  src/lib/minions/functions/calculateMonsterFood.ts
  src/lib/minions/functions/getUserBestGearFromBank.ts
  src/lib/skilling/skills/fletching/fletchables/arrows.ts
  src/lib/skilling/skills/fletching/fletchables/bows.ts
  src/lib/util/combatAmmoUsage.ts
  src/tasks/minions/revenantsActivity.ts
Labels: Status: Waiting For Changes, BSO

#2617 Merge master into BSO
  src/commands/Minion/bank.ts
  src/commands/Minion/farmingcontract.ts
  src/commands/Minion/pestcontrol.ts
  src/commands/OSRS_Fun/casket.ts
  src/commands/OSRS_Fun/kill.ts
  src/commands/bso/lamp.ts
  src/lib/gear/functions/generateGearImage.ts
  src/lib/resources/images/bank_backgrounds/1.jpg
  src/lib/resources/images/bank_backgrounds/11.jpg
  src/lib/resources/images/bank_backgrounds/20.png
  src/lib/resources/images/bank_backgrounds/r1.jpg
  src/lib/resources/images/bank_backgrounds/r11.jpg
  src/lib/resources/images/bank_backgrounds/spritesheet/Dark.png
  src/lib/resources/images/bank_backgrounds/spritesheet/Default.png
  src/lib/resources/images/bank_backgrounds/spritesheet/Transparent.png
  src/lib/resources/images/bank_border_c.png
  src/lib/resources/images/bank_border_h.png
  src/lib/resources/images/bank_border_v.png
  src/lib/settings/schemas/ClientSchema.ts
  src/lib/settings/types/ClientSettings.ts
  src/lib/skilling/functions/calcFarmingContracts.ts
  src/tasks/bankImage.ts
  src/tasks/collectionLogTask.ts
  src/tasks/minions/farmingActivity.ts
Labels: BSO

#2630 [BSO] Fix food usage in BSO
  src/lib/gear/index.ts
  src/lib/minions/functions/calculateMonsterFood.ts
Labels: BSO

#2626 Fix one way to clobber a pet.
  src/commands/Minion/bank.ts
  src/commands/Minion/equippet.ts
Labels: Type: Bug

#2661 Boost daily correct answers
  src/commands/Minion/daily.ts
  src/lib/simulation/dailyTable.ts
Labels: BSO, Status: Waiting For Review

#2658 Add Athelas seed to --seeds filterables
  src/lib/data/filterables.ts
Labels: BSO, Status: Waiting For Review

#2657 Allow wintertoad to roll based on trip length.
  src/tasks/minions/minigames/wintertodtActivity.ts
Labels: BSO, Status: Waiting For Review

#2656 Allow clues to calculate the qty automatically and add y to continue.
  src/commands/Minion/mclue.ts
  src/commands/Minion/open.ts
  src/tasks/minions/clueActivity.ts
Labels: BSO, Status: Waiting For Review

#2653 Allow +lamp to be used when busy
  src/commands/Minion/lamp.ts
Labels: Status: Waiting For Review

#2650 Add floor 6 and 7 to Sepulchre
  src/lib/minions/data/sepulchre.ts
  src/tasks/minions/minigames/sepulchreActivity.ts
Labels: BSO, Status: Waiting For Review

#2644 Fix farming contracts
  src/lib/skilling/functions/calcFarmingContracts.ts
Labels: Type: Bug

#2655 Add --im to all leaderboard commands and improve some
  src/commands/Minion/leaderboard.ts
  src/lib/util.ts
Labels: Status: Waiting For Review

#2648 Remove voidling message when user has no favalchs
  src/lib/util/handleTripFinish.ts
Labels: BSO, Status: Waiting For Review

#2649 Allow checking farming contracts when busy
  src/commands/Minion/farmingcontract.ts
Labels: Status: Waiting For Review

#2654 Fix +cl --missing / Add +cl --text
  src/lib/data/Collections.ts
  src/tasks/collectionLogTask.ts
Labels: Status: Waiting For Review

#2646 Add more clues to Wilvus table
  src/lib/simulation/seedTable.ts
Labels: BSO, Status: Waiting For Review

#2647 Fix ate a ori typo and ceil Ori effect instead of floor
  src/lib/tames.ts
Labels: BSO, Status: Waiting For Review

#2645 Add gorajan warrior boost to KK
  src/commands/bso/kk.ts
Labels: BSO, Status: Waiting For Review

#2642 [BSO] Hitpoints master cape improvements
  src/extendables/User/Minion.ts
Labels: BSO

#2660 Add blacksmith outfit effect to blast furnace
  src/commands/Minion/blastfurnace.ts
  src/tasks/minions/blastFurnaceActivity.ts
Labels: BSO, Status: Waiting For Review

#2640 Fix transparent bg in gearsetup image
  src/lib/gear/functions/generateGearImage.ts
Labels: Status: Waiting For Review

#2664 Twisted/Hellfire Bow
  src/lib/data/similarItems.ts
Labels: BSO

#2666 Add Athelas to herbs filterable
  src/lib/data/filterables.ts
Labels: BSO, Status: Waiting For Review

#2667 Fix collectionLog strange qty text
  src/tasks/collectionLogTask.ts
Labels: Status: Waiting For Review

#2675 [BSO] Fix lamp command on BSO and prevent the same mistake from recurring
  src/commands/Minion/lamp.ts
  src/commands/bso/lamp.ts
Labels: BSO, Priority: High

#2730 Let Vasa cloak work from bank for Eternal imps
  src/lib/implings.ts
Labels: BSO

#2737 Fix bugs with `+k` command
  src/commands/Minion/k.ts
Labels: Type: Bug
