Repository oldschoolgg/oldschoolbot, pull requests merged in 2021-07, with the labels that each got.

#2261 Seed Nest corrections
  src/commands/Minion/offer.ts
  src/lib/minions/functions/addSkillingClueToLoot.ts
  src/lib/simulation/birdsNest.ts
  src/lib/skilling/skills/hunter/birdHouseTrapping.ts
  src/tasks/minions/HunterActivity/birdhouseActivity.ts
Labels: Status: Waiting

#2200 SW point check and solo repeats
  src/commands/Minion/soulwars.ts
  src/tasks/minions/minigames/soulWarsActivity.ts
Labels: Status: Waiting

#2345 Fix diary boost on blackjackables
  src/tasks/minions/pickpocketActivity.ts
Labels: Priority: High

#2341 Fix collection logs adding more clues than the user were receiving
  src/extendables/User/Bank.ts
  src/tasks/minions/monsterActivity.ts
Labels: Priority: High

#2354 [BSO] Tame fixes
  src/commands/bso/tames.ts
  src/lib/typeorm/TamesTable.entity.ts
Labels: BSO

#2384 Improve slayer XP message on Jad
  src/tasks/minions/minigames/fightCavesActivity.ts
Labels: Awaiting review/merge

#2385 Fixed incorrect log entry
  src/tasks/minions/minigames/nightmareActivity.ts
Labels: Awaiting review/merge

#2388 Compost bank filterable
  src/commands/Minion/compostbin.ts
  src/lib/data/filterables.ts
Labels: Awaiting review/merge

#2380 Chilli and Egg potatoes
  src/lib/data/eatables.ts
Labels: Awaiting review/merge

#2379 Make jad mask consistent with +k
  src/commands/Minion/fightcaves.ts
Labels: Awaiting review/merge

#2381 Adds imbued ring of the gods as boost to shamans
  src/lib/minions/data/killableMonsters/chaeldarMonsters.ts
Labels: Awaiting review/merge

#2373 Zenyte quantity override
  src/commands/Minion/craft.ts
Labels: Awaiting review/merge

#2398 Fix zalcano purple items
  src/tasks/minions/minigames/zalcanoActivity.ts
Labels: Awaiting review/merge

#2397 Fix purple item bank cache
  src/tasks/bankImage.ts
Labels: Awaiting review/merge

#2386 Y to continue solo raid
  src/tasks/minions/minigames/raidsActivity.ts
Labels: Awaiting review/merge

#2399 Fix nightmareActivity.ts purples
  src/tasks/minions/minigames/nightmareActivity.ts
Labels: Awaiting review/merge

#2375 Kill jad if using highest autoslay
  src/commands/Minion/autoslay.ts
Labels: Awaiting review/merge

#2372 LB changes
  src/commands/Minion/leaderboard.ts
Labels: Awaiting review/merge

#2374 Adds vent XP to sire
  src/lib/minions/functions/index.ts
Labels: Awaiting review/merge

#2403 Allows flappy to double Temple Trekking loot
  src/tasks/minions/minigames/templeTrekkingActivity.ts
Labels: BSO

#2407 Boosts Dungeoneering
  src/commands/Minion/dung.ts
  src/tasks/minions/dungeoneeringActivity.ts
Labels: BSO

#2287 Fix alternate slayer monster list
  src/commands/Minion/slayertask.ts
Labels: Awaiting review/merge

#2418 Fix some performance issues.
  src/lib/data/Collections.ts
  src/lib/data/CollectionsExport.ts
  src/tasks/collectionLogTask.ts
Labels: Awaiting review/merge

#2415 [BSO] Fixed bug where =spawn would update defaultGear.
  src/commands/Testing/spawn.ts
Labels: Awaiting review/merge, BSO

#2417 [BSO] Add purple square emoji to igne uniques.
  src/lib/minions/data/killableMonsters/custom/Ignecarus.ts
  src/tasks/minions/minigames/ignecarusActivity.ts
Labels: Awaiting review/merge, BSO

#2431 Apply some fixes to the new Collection Log
  src/lib/data/Collections.ts
  src/lib/data/CollectionsExport.ts
  src/lib/data/openables.ts
  src/tasks/collectionLogTask.ts
Labels: Awaiting review/merge, BSO

#2400 Fix purple items from missing activities
  src/tasks/minions/minigames/plunderActivity.ts
  src/tasks/minions/minigames/roguesDenMazeActivity.ts
  src/tasks/minions/minigames/sepulchreActivity.ts
  src/tasks/minions/minigames/temporossActivity.ts
  src/tasks/minions/minigames/trawlerActivity.ts
  src/tasks/minions/minigames/warriorsGuild/cyclopsActivity.ts
  src/tasks/minions/minigames/wintertodtActivity.ts
Labels: Awaiting review/merge

#2377 Unsired drop message
  src/lib/util/handleTripFinish.ts
Labels: Awaiting review/merge

#2476 Fix rogues den dupe protection for equipped pieces
  src/tasks/minions/minigames/roguesDenMazeActivity.ts
Labels: Awaiting review/merge

#2475 +tames now shows what the selected tame is doing
  src/commands/bso/tames.ts
Labels: Awaiting review/merge, BSO

#2474 Fix plopper so it can be equipped or not
  src/tasks/minions/farmingActivity.ts
Labels: Awaiting review/merge, BSO

#2472 Show all achievement diary failed reqs on a single message
  src/lib/diaries.ts
Labels: Awaiting review/merge

#2402 Add autoslay buttons after a task is received
  src/commands/Minion/slayertask.ts
Labels: Awaiting review/merge

#2346 Fix PR (#2341) collection logs adding more clues than the user were receiving
  src/extendables/User/Bank.ts
  src/tasks/minions/monsterActivity.ts
Labels: Awaiting review/merge

#2356 Add placeholder flag to bank image
  src/commands/Minion/bank.ts
  src/extendables/TextDMChannel.ts
  src/lib/resources/images/skill_mini_icons.png
  src/lib/types/Augments.d.ts
  src/tasks/bankImage.ts
Labels: Awaiting review/merge

#2404 Add dwarven knife use
  src/commands/Minion/fletch.ts
Labels: BSO

#2470 Add missing rare drops notifications
  src/commands/Minion/offer.ts
  src/lib/data/offerData.ts
  src/lib/minions/data/killableMonsters/chaeldarMonsters.ts
  src/lib/minions/data/killableMonsters/konarMonsters.ts
  src/tasks/minions/darkAltarActivity.ts
  src/tasks/minions/gloryChargingActivity.ts
  src/tasks/minions/minigames/gauntletActivity.ts
  src/tasks/minions/minigames/plunderActivity.ts
Labels: Awaiting review/merge

#2452 Allow users to rename and share gear presets
  src/commands/Minion/gearpresets.ts
Labels: Awaiting review/merge

#2360 Allow values above 51_530_000 to properly roll for hammy
  src/commands/Minion/sacrifice.ts
Labels: Awaiting review/merge

#2389 Tome rune costs
  src/lib/data/similarItems.ts
  src/lib/util/determineRunes.ts
Labels: Status: Waiting For Review

#2376 Make Tzhaars barrageable
  src/lib/minions/data/killableMonsters/chaeldarMonsters.ts
Labels: Status: Waiting For Review

#2370 [BSO] Add EMB-only tradeables to TMBs
  src/lib/data/openables.ts
Labels: BSO, Status: Waiting For Review

#2378 Favalch in alch
  src/commands/Minion/alch.ts
  src/commands/Minion/laps.ts
  src/extendables/User/User.ts
  src/lib/types/Augments.d.ts
Labels: Status: Waiting For Review

#2276 Add --smallbank BitField to allow for any BG to use small banks
  src/commands/Minion/bank.ts
  src/lib/constants.ts
  src/tasks/bankImage.ts
Labels: Status: Waiting For Changes

#2365 Add purple item outline for new collection items on bankImage.ts
  src/lib/util/canvasUtil.ts
  src/tasks/bankImage.ts
Labels: Status: Waiting For Review
