Repository oldschoolgg/oldschoolbot, pull requests merged in 2021-09, with the labels that each got.

#2736 Add nthUser notifications for XP milestones on BSO
  src/extendables/User/Minion.ts
Labels: Status: Waiting For Review

#2752 Fixed Webhook messages not splitting. (Affects Igne return messages)
  src/extendables/TextDMChannel.ts
  src/lib/util/webhook.ts
Labels: Type: Bug

#2759 Add aliases to achievement diaries
  src/commands/Minion/achievementdiary.ts
  src/lib/diaries.ts
Labels: Status: Waiting For Review

#2757 Add BSO boosts do Volcanic Mine
  src/commands/Minion/volcanicmine.ts
  src/tasks/minions/volcanicMineActivity.ts
Labels: BSO, Status: Waiting For Review

#2747 +mta text change
  src/commands/Minion/mta.ts
Labels: Status: Waiting For Review

#2760 Remove infernal cape from cl capes and add other capes to it
  src/lib/data/CollectionsExport.ts
Labels: Status: Waiting For Review

#2775 Nerf 3rd age tools and remove boosts from gilded tools.
  src/commands/Minion/chop.ts
  src/commands/Minion/mine.ts
  src/commands/Minion/volcanicmine.ts
  src/lib/data/similarItems.ts
Labels: Status: Waiting For Review

#2770 Fix giveaways after bot restart
  src/lib/typeorm/GiveawayTable.entity.ts
Labels: Type: Bug

#2715 Refactor =givebox
  src/commands/bso/givebox.ts
Labels: BSO, Status: Waiting For Review

#2714 Add +amrod
  src/commands/Minion/amrod.ts
  src/commands/Minion/zalcano.ts
Labels: Status: Waiting For Review

#2755 Add tame interface and plenty more
  src/commands/bso/nursery.ts
  src/commands/bso/tames.ts
  src/lib/resources/images/tames/1_sprite.png
  src/lib/resources/images/tames/tame_sprite.png
  src/lib/tames.ts
  src/lib/typeorm/TamesTable.entity.ts
  src/tasks/tameTicker.ts
Labels: BSO, Status: Waiting For Review

#2727 Add Qty to Barb Assault Gamble/Buy
  src/commands/Minion/barbassault.ts
  src/lib/data/Collections.ts
Labels: Status: Waiting For Review

#2692 Rework +create
  src/commands/Minion/create.ts
  src/lib/data/creatables/armorPacks.ts
  src/lib/data/creatables/ornaments.ts
  src/lib/data/creatables/slayer.ts
  src/lib/data/createables.ts
Labels: Status: Waiting For Review

#2842 Show boosts for the tame k trip
  src/commands/bso/tames.ts
Labels: BSO, Status: Waiting For Review

#2843 Add aliases for +lb minigame
  src/commands/Minion/leaderboard.ts
  src/extendables/User/Minigame.ts
Labels: Status: Waiting For Review

#2859 [BSO] Fixes farming bug with Woodcutting requirement
  src/tasks/minions/farmingActivity.ts
Labels: Type: Bug, Priority: High

#2772 Add tame continuation character
  src/lib/tames.ts
  src/lib/util/createCollector.ts
Labels: BSO, Status: Waiting For Review

#2819 Add RC combination runes
  src/commands/Minion/rc.ts
  src/lib/data/buyables/buyables.ts
  src/lib/data/buyables/runes.ts
  src/lib/data/similarItems.ts
  src/lib/skilling/skills/runecraft.ts
  src/lib/skilling/types.ts
  src/lib/types/minions.ts
  src/tasks/minions/runecraftActivity.ts
  tests/Gear.test.ts
Labels: Status: Waiting For Review

#2877 [BSO] Fixes bugs related to Runecraft
  src/commands/Minion/rc.ts
  src/extendables/User/Minion.ts
  src/lib/types/minions.ts
Labels: Type: Bug, BSO

#2885 fix chaos alias
  src/commands/Minion/rc.ts
Labels: Status: Waiting For Review

#2878 add Salve amulet and it's variations
  src/commands/Minion/collect.ts
  src/commands/Minion/soulwars.ts
  src/commands/Testing/setqp.ts
  src/lib/data/buyables/buyables.ts
  src/lib/data/createables.ts
  src/lib/data/similarItems.ts
  src/lib/minions/data/killableMonsters/bosses/misc.ts
  src/lib/minions/data/killableMonsters/mazchnaMonsters.ts
Labels: Status: Waiting For Review
