Repository oldschoolgg/oldschoolbot, pull requests merged in 2022-07, with the labels that each got.

#4038 Fix /bsominigames fishing_contest fish when no location specified
  src/mahoji/lib/abstracted_commands/fishingContestCommand.ts
Labels: Type: Bug, Status: Waiting For Changes, BSO

#4106 Cannot catch Lucky Implings in BSO
  src/lib/implings.ts
Labels: Type: Bug, BSO

#4118 Fixes a few bugs in BSO minigames that eat your supplies.
  src/lib/baxtorianBathhouses.ts
  src/mahoji/lib/abstracted_commands/fishingContestCommand.ts
  src/mahoji/lib/abstracted_commands/ironmanCommand.ts
  src/mahoji/lib/abstracted_commands/monkeyRumbleCommand.ts
  src/mahoji/lib/abstracted_commands/odsCommand.ts
Labels: Type: Bug, BSO

#4117 Removes minionIsBusy check in a few places
  src/mahoji/commands/drop.ts
  src/mahoji/lib/abstracted_commands/duelCommand.ts
Labels: Type: Bug

#4138 Invention - Flexible materials rebalancing
  src/lib/invention/groups/Bows.ts
  src/lib/invention/groups/UnstrungBows.ts
  src/lib/invention/inventions.ts
Labels: BSO

#4153 Fixes /create bugs
  src/mahoji/commands/create.ts
Labels: Type: Bug

#4169 Fixes 2 bugs: Cannot use `/testpotato max`, and there's an old dev file that shouldn't exist.
  src/lib/slayer/unlocks.ts
  src/mahoji/commands/testpotato.ts
Labels: Type: Bug

#4176 Fix most deepscan issues, and related bugs
  src/commands/rp.ts
  src/lib/util/farmingHelpers.ts
  src/mahoji/commands/poh.ts
  src/mahoji/lib/abstracted_commands/infernoCommand.ts
  src/mahoji/lib/abstracted_commands/nightmareCommand.ts
Labels: Type: Bug

#4175 Fix /sell selling favorites
  src/lib/util/parseStringBank.ts
  tests/parseStringBank.test.ts
Labels: Type: Bug, Status: Help Wanted

#4161 Fix remaining minion busy checks in mahoji commands
  src/mahoji/commands/clue.ts
  src/mahoji/commands/drop.ts
  src/mahoji/commands/runecraft.ts
Labels: Type: Bug

#4174 Allow users to reset their favorites configs
  src/mahoji/commands/config.ts
Labels: Status: Waiting For Review

#4185 Fix Arcane Harvester when harvesting it uses the wrong plant
  src/tasks/minions/farmingActivity.ts
Labels: Type: Bug, BSO

#4199 Fix "Second-guess" logic for Spawnlamp / Spawnbox
  src/mahoji/lib/buttonUserPicker.ts
Labels: Type: Bug, BSO

#4191 Fixes problem where old item names map to custom items
  src/lib/customItems/util.ts
  src/lib/util/parseStringBank.ts
  tests/parseStringBank.test.ts
Labels: Type: Bug, BSO

#4168 [Leagues-BSO] Fixes "Unlock all Slayer rewards" bug for leagues
  src/lib/leagues/masterTasks.ts
  src/lib/slayer/slayerUnlocks.ts
Labels: Type: Bug, BSO, Status: Waiting For Review

#4182 Myth Cape Rack (construction)
  src/lib/skilling/skills/construction/constructables.ts
  src/mahoji/commands/build.ts
Labels: Status: Needs Information

#4015 ironman sell
  src/mahoji/commands/sacrifice.ts
  src/mahoji/commands/sell.ts
  tests/util.test.ts
Labels: Status: Waiting For Review

#4236 Fix Skipper sac value boost
  src/mahoji/commands/sacrifice.ts
Labels: Type: Bug, BSO

#4233 [BSO] Fix small issue with my parseBank update (Matching lamps is finnicky)
  src/lib/util/parseStringBank.ts
  tests/parseStringBank.test.ts
Labels: Type: Bug, BSO

#4240 Fix some bugs / missing items with STASH units
  src/lib/clues/stashUnits.ts
  src/lib/data/buyables/buyables.ts
  src/lib/data/createables.ts
Labels: Type: Bug
