Repository oldschoolgg/oldschoolbot, pull requests merged in 2022-06, with the labels that each got.

#3970 Fix pesky DB constraint conflicts
  src/tasks/dailyReminder.ts
Labels: Type: Bug

#3976 Allow Slepey tablet drop if you don't have the CL
  src/tasks/minions/minigames/nightmareActivity.ts
Labels: BSO

#4012 [BSO] Fix use double loot token
  src/mahoji/lib/abstracted_commands/useCommand.ts
Labels: Type: Bug, BSO

#3974 Fix hespori KC tracking
  src/tasks/minions/farmingActivity.ts
Labels: Type: Bug, BSO

#4039 Make sacrifice use overridden prices.
  src/commands/Minion/sacrifice.ts
Labels: Type: Bug, Priority: High

#4037 Fix Vasa /k command
  src/mahoji/commands/k.ts
Labels: Type: Bug, BSO, Priority: High

#4046 [URGENT] Fix several MAJOR bugs.
  src/commands/Minion/cast.ts
  src/lib/minions/functions/degradeableItemsCommand.ts
  src/lib/minions/functions/unequipPet.ts
  src/lib/structures/Gear.ts
  src/mahoji/commands/wintertodt.ts
  src/mahoji/lib/abstracted_commands/collectCommand.ts
  src/mahoji/lib/abstracted_commands/duelCommand.ts
  src/mahoji/lib/abstracted_commands/roguesDenCommand.ts
  src/tasks/minions/minigames/wintertodtActivity.ts
Labels: Type: Bug, Priority: High

#3921 Add the rest of the bushes - farming
  src/lib/skilling/functions/calcFarmingContracts.ts
  src/lib/skilling/skills/farming/specialPlants.ts
Labels: Status: Waiting For Changes

#4075 Fix `/minion use` not adding to CL
  src/mahoji/lib/abstracted_commands/useCommand.ts
Labels: Type: Bug, BSO

#4090 Fix broken webhooks
  src/lib/util/webhook.ts
Labels: Type: Bug, Priority: Medium
