Repository oldschoolgg/oldschoolbot, pull requests merged in 2022-11, with the labels that each got.

#4660 Don't run tickers before client ready
  src/index.ts
  src/mahoji/lib/events.ts
Labels: Type: Bug

#4259 Add the runecrafting of tiaras
  prisma/schema.prisma
  src/lib/Task.ts
  src/lib/data/createables.ts
  src/lib/skilling/skills/runecraft.ts
  src/lib/types/minions.ts
  src/lib/util/minionStatus.ts
  src/lib/util/repeatStoredTrip.ts
  src/mahoji/commands/runecraft.ts
  src/mahoji/lib/abstracted_commands/tiaraRunecraftCommand.ts
  src/tasks/minions/tiaraRunecraftActivity.ts
Labels: Status: Waiting For Review

#4674 Dont re-fetch the user each addXP call
  src/lib/MUser.ts
  src/lib/addXP.ts
Labels: Priority: Medium

#4673 [BSO] - Fix bug crashing Kalphite King trips
  src/tasks/minions/bso/kalphiteKingActivity.ts
Labels: Type: Bug, BSO, Priority: High

#4483 Guardians Of The Rift
  prisma/schema.prisma
  src/lib/Task.ts
  src/lib/data/Collections.ts
  src/lib/data/CollectionsExport.ts
  src/lib/data/buyables/buyables.ts
  src/lib/data/buyables/guardiansOfTheRifBuyables.ts
  src/lib/data/creatables/guardiansOfTheRiftCreatables.ts
  src/lib/data/createables.ts
  src/lib/data/similarItems.ts
  src/lib/settings/minigames.ts
  src/lib/simulation/rewardsGuardian.ts
  src/lib/skilling/skills/runecraft.ts
  src/lib/types/minions.ts
  src/lib/util/minionStatus.ts
  src/lib/util/repeatStoredTrip.ts
  src/mahoji/commands/minigames.ts
  src/mahoji/commands/runecraft.ts
  src/mahoji/commands/sell.ts
  src/mahoji/lib/abstracted_commands/guardiansOfTheRiftCommand.ts
  src/mahoji/lib/abstracted_commands/tiaraRunecraftCommand.ts
  src/mahoji/mahojiSettings.ts
  src/tasks/minions/darkAltarActivity.ts
  src/tasks/minions/minigames/guardiansOfTheRiftActivity.ts
  src/tasks/minions/runecraftActivity.ts
  src/tasks/minions/tiaraRunecraftActivity.ts
Labels: Status: Waiting For Review

#4682 Merge GotR to BSO
  prisma/schema.prisma
  src/lib/Task.ts
  src/lib/data/Collections.ts
  src/lib/data/CollectionsExport.ts
  src/lib/data/buyables/buyables.ts
  src/lib/data/buyables/guardiansOfTheRifBuyables.ts
  src/lib/data/creatables/guardiansOfTheRiftCreatables.ts
  src/lib/data/createables.ts
  src/lib/data/similarItems.ts
  src/lib/party.ts
  src/lib/settings/minigames.ts
  src/lib/simulation/rewardsGuardian.ts
  src/lib/skilling/skills/runecraft.ts
  src/lib/structures/Boss.ts
  src/lib/types/minions.ts
  src/lib/util/minionStatus.ts
  src/lib/util/repeatStoredTrip.ts
  src/mahoji/commands/dg.ts
  src/mahoji/commands/mass.ts
  src/mahoji/commands/minigames.ts
  src/mahoji/commands/runecraft.ts
  src/mahoji/commands/sell.ts
  src/mahoji/lib/abstracted_commands/coxCommand.ts
  src/mahoji/lib/abstracted_commands/guardiansOfTheRiftCommand.ts
  src/mahoji/lib/abstracted_commands/kkCommand.ts
  src/mahoji/lib/abstracted_commands/nexCommand.ts
  src/mahoji/lib/abstracted_commands/tiaraRunecraftCommand.ts
  src/mahoji/lib/abstracted_commands/tobCommand.ts
  src/mahoji/lib/postCommand.ts
  src/mahoji/mahojiSettings.ts
  src/tasks/minions/darkAltarActivity.ts
  src/tasks/minions/minigames/guardiansOfTheRiftActivity.ts
  src/tasks/minions/runecraftActivity.ts
  src/tasks/minions/tiaraRunecraftActivity.ts
Labels: BSO

#4683 BSO - Sawmill speed
  src/mahoji/commands/activities.ts
Labels: BSO

#4684 Fix Bug with KC not showing accurately on KK/Nex
  src/tasks/minions/bso/kalphiteKingActivity.ts
  src/tasks/minions/bso/nexActivity.ts
Labels: Type: Bug, BSO

#4620 Open Seed pack button
  src/lib/util/globalInteractions.ts
  src/lib/util/handleTripFinish.ts
  src/tasks/minions/farmingActivity.ts
Labels: Priority: Low

#4691 Fix inferno stats /data command
  src/mahoji/lib/abstracted_commands/statCommand.ts
Labels: Type: Bug

#4689 [BSO] Improvements to minion kill / boost calculation
  src/mahoji/lib/abstracted_commands/minionKill.ts
Labels: Type: Bug, BSO

#4695 [BSO] Add Flappy to GotR
  src/tasks/minions/minigames/guardiansOfTheRiftActivity.ts
Labels: BSO

#4693 GotR fixes - drop table + more
  src/lib/simulation/rewardsGuardian.ts
  src/mahoji/lib/abstracted_commands/guardiansOfTheRiftCommand.ts
  src/tasks/minions/minigames/guardiansOfTheRiftActivity.ts
Labels: Type: Bug

#4617 Add Ashes for Prayer and the Ash Sanctifier
  prisma/schema.prisma
  src/lib/Task.ts
  src/lib/constants.ts
  src/lib/degradeableItems.ts
  src/lib/diaries.ts
  src/lib/skilling/skills/prayer.ts
  src/lib/skilling/types.ts
  src/lib/types/minions.ts
  src/lib/util/minionStatus.ts
  src/lib/util/repeatStoredTrip.ts
  src/mahoji/commands/activities.ts
  src/mahoji/commands/config.ts
  src/mahoji/lib/abstracted_commands/achievementDiaryCommand.ts
  src/mahoji/lib/abstracted_commands/scatterCommand.ts
  src/mahoji/lib/abstracted_commands/statCommand.ts
  src/tasks/minions/PrayerActivity/scatteringActivity.ts
  src/tasks/minions/minigames/zalcanoActivity.ts
  src/tasks/minions/monsterActivity.ts
Labels: Status: Waiting For Review

#4698 Fix JMOD-Reddit posts
  src/lib/crons.ts
Labels: Type: Bug

#4708 Fix /admin sync_patreon / getUserClData() problem
  src/lib/data/Collections.ts
Labels: Type: Bug, BSO

#4711 Castle Wars and LMS leagues task rebalance
  src/lib/leagues/hardTasks.ts
Labels: BSO

#4717 Fix patreon sync for real this time
  src/lib/data/Collections.ts
Labels: Type: Bug, BSO

#4715 Allow greatish guardian to be equipped
  src/lib/data/CollectionsExport.ts
Labels: Priority: Low

#4723 Add runecraft outfit to the global presets
  src/lib/structures/Gear.ts
Labels: Priority: Low

#4722 Fix kc_gains command
  src/mahoji/commands/tools.ts
Labels: Type: Bug

#4719 Add pink skirt to buyables
  src/lib/data/buyables/buyables.ts
Labels: Priority: Low

#4706 [BSO] - Nex / Boss improvements
  src/lib/bso/calcBossFood.ts
  src/lib/minions/functions/calculateMonsterFood.ts
  src/lib/util/repeatStoredTrip.ts
  src/mahoji/lib/abstracted_commands/kkCommand.ts
  src/mahoji/lib/abstracted_commands/minionKill.ts
  src/mahoji/lib/abstracted_commands/nexCommand.ts
  src/tasks/minions/bso/kalphiteKingActivity.ts
  src/tasks/minions/bso/nexActivity.ts
Labels: BSO

#4735 Fix Rev CL Issue #4732
  src/tasks/minions/revenantsActivity.ts
Labels: Type: Bug

#4734 Deepscan fixes
  src/mahoji/lib/abstracted_commands/alchCommand.ts
  src/mahoji/lib/abstracted_commands/sawmillCommand.ts
Labels: BSO

#4729 Remove duplicate entries in /finish
  src/lib/finishables.ts
Labels: Type: Bug, BSO, Status: Waiting For Review

#4746 Allow quantity to be specified on Collect command
  src/mahoji/commands/activities.ts
  src/mahoji/lib/abstracted_commands/collectCommand.ts
Labels: Priority: Low

#4720 Add gotr drystreak
  src/mahoji/commands/tools.ts
Labels: Priority: Low

#4721 Add Drystreak Evil Chicken Outfit
  src/mahoji/commands/tools.ts
Labels: Priority: Low
