Repository oldschoolgg/oldschoolbot, pull requests merged in 2022-09, with the labels that each got.

#4167 Bso smithing boosts
  src/mahoji/commands/smelt.ts
  src/tasks/minions/smeltingActivity.ts
Labels: Status: Waiting For Review

#4410 Tweak 2x as discussed
  src/lib/skilling/skills/crafting/craftables/gems.ts
  src/lib/skilling/skills/crafting/craftables/gold.ts
  src/lib/skilling/skills/magic/enchantables.ts
  src/lib/skilling/types.ts
  src/lib/util/handleTripFinish.ts
  src/mahoji/commands/craft.ts
  src/mahoji/lib/abstracted_commands/enchantCommand.ts
Labels: Type: Suggestion, BSO

#4409 Prevent 2x dwwh again
  src/mahoji/commands/smith.ts
Labels: BSO

#4404 Solo ToB for BSO along with some boosts
  src/lib/data/tob.ts
  src/mahoji/commands/raid.ts
  src/mahoji/lib/abstracted_commands/tobCommand.ts
  src/tasks/minions/minigames/tobActivity.ts
Labels: BSO

#3774 Mining Rework
  src/lib/data/buyables/buyables.ts
  src/lib/data/similarItems.ts
  src/lib/skilling/functions/determineMiningTime.ts
  src/lib/skilling/skills/mining.ts
  src/lib/skilling/types.ts
  src/lib/types/minions.ts
  src/lib/util.ts
  src/lib/util/minionStatus.ts
  src/mahoji/commands/mine.ts
  src/mahoji/lib/util.ts
  src/tasks/minions/miningActivity.ts
Labels: Status: Waiting For Review

#4418 Bingo tile fixes
  src/mahoji/lib/bingo.ts
Labels: Type: Bug

#4419 Prevent 4x Moktang drops
  src/mahoji/lib/abstracted_commands/moktangCommand.ts
Labels: Type: Suggestion, BSO

#4427 Fix 2 Bingo bugs. (1 - Boss tile, 2 - Admin command)
  src/mahoji/commands/admin.ts
  src/mahoji/lib/bingo.ts
Labels: Type: Bug

#4344 Fix abyssal tentacle wasting whips on create with onCreate() charges
  prisma/schema.prisma
  src/lib/data/creatables/slayer.ts
  src/lib/data/createables.ts
  src/lib/data/similarItems.ts
  src/lib/settings/schemas/UserSchema.ts
  src/mahoji/commands/create.ts
Labels: Type: Bug

#4437 Fix create command for bingo
  src/mahoji/commands/create.ts
Labels: Type: Bug

#4458 [BSO-KlasaRemoval] - Fix Mass multiple join bug
  src/lib/structures/Mass.ts
Labels: Type: Bug

#4457 Remove items from bank before adding sac value.
  src/mahoji/commands/sacrifice.ts
Labels: Type: Bug

#4461 Fix 2 more deepscan issues [bso-specific]
  src/mahoji/commands/tools.ts
  src/tasks/minions/bso/dungeoneeringActivity.ts
Labels: BSO

#4452 Add "choose" command to the bso bot
  src/mahoji/commands/choose.ts
Labels: BSO

#4466 Fixes Theatre of Blood in new update
  src/lib/MUser.ts
  src/lib/data/tob.ts
Labels: Type: Bug, Priority: High

#4469 Fix KCGains Leaderboard (Showing "Unknown")
  src/mahoji/commands/tools.ts
Labels: Type: Bug

#3977 200M xp pet rates
  src/lib/minions/data/plunder.ts
  src/lib/skilling/functions/calcsHunter.ts
  src/lib/skilling/skills/hunter/aerialFishing.ts
  src/lib/skilling/skills/thieving/stealables.ts
  src/lib/util.ts
  src/tasks/minions/HunterActivity/aerialFishingActivity.ts
  src/tasks/minions/HunterActivity/hunterActivity.ts
  src/tasks/minions/agilityActivity.ts
  src/tasks/minions/darkAltarActivity.ts
  src/tasks/minions/farmingActivity.ts
  src/tasks/minions/fishingActivity.ts
  src/tasks/minions/minigames/agilityArenaActivity.ts
  src/tasks/minions/minigames/plunderActivity.ts
  src/tasks/minions/minigames/sepulchreActivity.ts
  src/tasks/minions/minigames/titheFarmActivity.ts
  src/tasks/minions/miningActivity.ts
  src/tasks/minions/pickpocketActivity.ts
  src/tasks/minions/runecraftActivity.ts
  src/tasks/minions/volcanicMineActivity.ts
  src/tasks/minions/woodcuttingActivity.ts
  tests/util.test.ts
Labels: Status: Waiting For Review

#4470 Patreon fixes
  src/lib/http/routes/webhooks/githubSponsors.ts
  src/lib/tickers.ts
  src/lib/util.ts
  src/lib/util/getUsersPerkTier.ts
  src/mahoji/commands/admin.ts
  src/mahoji/lib/events.ts
  src/mahoji/lib/preCommand.ts
  src/mahoji/mahojiSettings.ts
Labels: Type: Bug

#4487 Fix 2 Sepulchre pet (Giant squirrel) bugs
  src/tasks/minions/minigames/sepulchreActivity.ts
Labels: Type: Bug

#4491 Fix multiplied loot from stars
  src/mahoji/lib/abstracted_commands/shootingStarsCommand.ts
Labels: Type: Bug

#4478 Fix Hespori KC + Loot (again)
  src/tasks/minions/farmingActivity.ts
Labels: Type: Bug

#4494 Fix GitHub subs sync'ing from RoboChimp
  src/lib/http/routes/webhooks/githubSponsors.ts
  src/lib/http/util.ts
  src/lib/patreon.ts
Labels: Type: Bug

#4500 Fix Naxxus unique rate
  src/tasks/minions/bso/naxxusActivity.ts
Labels: Type: Bug, BSO, Priority: High

#4493 Fix thieving pet calculation
  src/tasks/minions/pickpocketActivity.ts
Labels: Type: Bug

#4514 Fix some BSO Boss instance issues.
  src/lib/structures/Boss.ts
  src/mahoji/lib/abstracted_commands/igneCommand.ts
  src/mahoji/lib/abstracted_commands/kgCommand.ts
  src/mahoji/lib/abstracted_commands/vasaCommand.ts
  src/tasks/minions/bso/ignecarusActivity.ts
  src/tasks/minions/bso/vasaMagusActivity.ts
Labels: Type: Bug, BSO, Priority: Medium
