Repository oldschoolgg/oldschoolbot, pull requests merged in 2022-12, with the labels that each got.

#4760 Remove tags on invention trips
  src/lib/invention/disassemble.ts
  src/lib/invention/research.ts
Labels: BSO, Priority: Low

#4757 Add Nex finishable to BSO
  src/lib/finishables.ts
  src/lib/nex.ts
  src/tasks/minions/bso/nexActivity.ts
Labels: BSO

#4756 Add ironman option to item contract leaderboard
  src/mahoji/commands/leaderboard.ts
Labels: BSO

#4763 Fix T6 on Github
  src/lib/http/util.ts
  src/mahoji/commands/admin.ts
Labels: Type: Bug, Priority: High

#4506 Giant's Foundry
  prisma/schema.prisma
  src/lib/Task.ts
  src/lib/data/Collections.ts
  src/lib/data/CollectionsExport.ts
  src/lib/giantsFoundry.ts
  src/lib/settings/minigames.ts
  src/lib/skilling/skills/smithing/index.ts
  src/lib/startupScripts.ts
  src/lib/structures/Gear.ts
  src/lib/types/minions.ts
  src/lib/util/minionStatus.ts
  src/lib/util/repeatStoredTrip.ts
  src/lib/util/updateBankSetting.ts
  src/mahoji/commands/minigames.ts
  src/mahoji/commands/smith.ts
  src/mahoji/lib/abstracted_commands/giantsFoundryCommand.ts
  src/tasks/minions/minigames/giantsFoundryActivity.ts
Labels: Status: Waiting For Review

#4616 Nex, Gora, Dwarven stat rebalance
  src/lib/customItems/customItems.ts
  src/lib/customItems/dwarven.ts
  src/lib/customItems/nex.ts
  src/lib/gear/index.ts
Labels: Status: Thinking/Waiting

#4778 Fix KG Snowballs + Tracking/etc
  src/tasks/minions/bso/kingGoldemarActivity.ts
Labels: Type: Bug, BSO

#4777 Fix many important bugs
  src/lib/util/transactItemsFromBank.ts
  src/mahoji/commands/gamble.ts
  src/mahoji/lib/abstracted_commands/capegamble.ts
  src/mahoji/lib/abstracted_commands/duelCommand.ts
  src/mahoji/lib/abstracted_commands/gearCommands.ts
  src/mahoji/lib/abstracted_commands/hotColdCommand.ts
  src/mahoji/lib/abstracted_commands/luckyPickCommand.ts
  src/mahoji/lib/abstracted_commands/slotsCommand.ts
Labels: Type: Bug, Priority: High

#4773 Fix Giants Foundry CL
  src/lib/data/CollectionsExport.ts
Labels: Priority: Low

#4781 Update Passive Impling Rates to match osrs
  src/lib/implings.ts
Labels: Priority: Low

#4805 Fix Disassemble some items League Task
  src/lib/leagues/mediumTasks.ts
Labels: BSO, Priority: Low

#4799 Quantity on Clue Repeat Trips
  src/lib/util/repeatStoredTrip.ts
Labels: BSO, Priority: Low

#4810 Item contract fixes
  src/lib/util/globalInteractions.ts
  src/mahoji/commands/ic.ts
Labels: Type: Bug, BSO

#4798 Armadyl Chestplate Reverting
  src/lib/data/creatables/bsoItems.ts
Labels: BSO, Priority: Low
