Repository oldschoolgg/oldschoolbot, pull requests merged in 2022-08, with the labels that each got.

#4275 Only do the alch calculation if there is no override.
  src/mahoji/commands/sell.ts
Labels: Type: Bug, BSO, Priority: High

#4272 Fix sawmill bug
  src/mahoji/lib/abstracted_commands/sawmillCommand.ts
Labels: Type: Bug, BSO

#4264 Allow similar items to work for tame feeds
  src/lib/tames.ts
  src/mahoji/commands/tames.ts
Labels: BSO

#4203 Add clue message to trip return
  src/lib/util/handleTripFinish.ts
Labels: Status: Needs Information

#4091 Puro-Puro Activity.
  prisma/schema.prisma
  src/extendables/User/Minion.ts
  src/lib/constants.ts
  src/lib/implings.ts
  src/lib/settings/minigames.ts
  src/lib/types/minions.ts
  src/lib/util/taskNameFromType.ts
  src/mahoji/commands/activities.ts
  src/mahoji/lib/abstracted_commands/puroPuroCommand.ts
  src/tasks/minions/minigames/puroPuroActivity.ts
Labels: Status: Waiting For Review

#4286 Fix mega duck - image not working and cooldown not working
  src/mahoji/commands/megaduck.ts
Labels: Type: Bug, BSO

#4277 Fix Lucky impling drop with Mr. E
  src/lib/implings.ts
Labels: Type: Bug, BSO

#4295 Give Moktang Hitpoints Master Cape boost
  src/lib/util/calcMaxTripLength.ts
Labels: BSO

#4302 Cyr bso merge 20220522 b
  package.json
  src/commands/deprecated/bank.ts
  src/commands/deprecated/collectionlog.ts
  src/commands/deprecated/fakepm.ts
  src/commands/deprecated/kill.ts
  src/commands/minion.ts
  src/commands/rp.ts
  src/lib/leagues/leagues.ts
  src/lib/leagues/stats.ts
  src/mahoji/commands/admin.ts
  src/mahoji/commands/fakepm.ts
  src/mahoji/lib/abstracted_commands/statCommand.ts
  yarn.lock
Labels: BSO

#4305 Fix slayer task extensions on BSO
  src/mahoji/lib/abstracted_commands/slayerTaskCommand.ts
Labels: Type: Bug, BSO

#4308 Fix duplicate entries in dailies causing command failure
  src/mahoji/lib/abstracted_commands/dailyCommand.ts
Labels: Type: Bug

#4307 Volcanic dye doesn't work for re-dying
  src/mahoji/lib/abstracted_commands/useCommand.ts
Labels: Type: Bug, BSO

#3853 Thieving Stalls
  src/extendables/User/Minion.ts
  src/lib/skilling/skills/thieving/stealables.ts
  src/mahoji/commands/pickpocket.ts
  src/mahoji/commands/steal.ts
  src/tasks/minions/pickpocketActivity.ts
Labels: Status: Waiting For Review

#4310 Fix lucky pick GP deletion bug
  src/mahoji/lib/abstracted_commands/luckyPickCommand.ts
Labels: Type: Bug

#4320 Fix buttons not working because busy
  src/lib/util/globalInteractions.ts
Labels: Type: Bug, BSO

#4321 Fix /k show_info not working when minion is busy.
  src/mahoji/commands/k.ts
  src/mahoji/lib/abstracted_commands/minionKill.ts
Labels: Type: Bug

#4309 Finish migrating +b features to /bank
  src/lib/util/makeBankImage.ts
  src/mahoji/commands/bank.ts
  src/tasks/bankImage.ts
Labels: Status: Waiting For Review

#3786 Add Nihil horn + Zaryte vambraces + Nexling to BSO (Nihiliz boss)
  src/lib/data/Collections.ts
  src/lib/data/CollectionsExport.ts
  src/lib/deletedItems.ts
  src/lib/minions/data/killableMonsters/custom/Nihiliz.ts
  src/lib/minions/data/killableMonsters/custom/demiBosses.ts
  src/lib/minions/data/stoneSpirits.ts
  src/lib/skilling/skills/herblore/mixables/crush.ts
Labels: BSO

#4326 Fix invention bonecrusher XP tracking
  src/tasks/minions/monsterActivity.ts
Labels: Type: Bug, BSO

#4332 Minor Nihiliz nerf (Remove sharks, anglerfish, etc)
  src/lib/minions/data/killableMonsters/custom/Nihiliz.ts
Labels: Type: Suggestion, BSO

#4331 Fix Bug when bot starts on a clean install (for devs/contribs)
  src/mahoji/lib/events.ts
Labels: Type: Bug

#4325 Fix Black Demon XP / HP overwrite bug, and remove undead attrib from Malygos
  src/lib/minions/data/killableMonsters/custom/customMonsters.ts
  src/lib/minions/data/killableMonsters/custom/demiBosses.ts
Labels: Type: Bug, BSO

#4327 Fix pvmBoost for good food
  src/lib/minions/functions/removeFoodFromUser.ts
  src/mahoji/lib/abstracted_commands/minionKill.ts
Labels: Type: Bug

#4343 Nerf Grandmasters on Nihiliz + other minor changes
  src/lib/minions/data/killableMonsters/custom/Nihiliz.ts
  src/lib/minions/data/killableMonsters/custom/demiBosses.ts
Labels: Type: Suggestion, BSO

#4352 Herblore using zahur/wesley bug
  src/mahoji/commands/mix.ts
Labels: BSO

#4361 Fix tertiary disassemble materials chance
  src/lib/invention/disassemble.ts
Labels: Type: Bug, BSO

#4374 Naxxus 0-day bug fix (Crystal shards => Crystal dust)
  src/lib/data/createables.ts
  src/lib/skilling/skills/herblore/mixables/crush.ts
Labels: Type: Bug, BSO

#4378 Cyr naxxus launch fixes
  src/extendables/User/Bank.ts
  src/lib/data/createables.ts
Labels: Type: Bug, BSO

#4380 Naxxus Day-1 bug fixes
  src/lib/customItems/customItems.ts
  src/lib/data/cox.ts
  src/lib/data/creatables/bsoItems.ts
  src/lib/data/similarItems.ts
  src/lib/degradeableItems.ts
  src/lib/minions/data/killableMonsters/custom/bosses/Naxxus.ts
  src/lib/skilling/functions/calcsFarming.ts
  src/lib/skilling/skills/farming/specialPlants.ts
  src/lib/util/brewRestoreSupplyCalc.ts
  src/mahoji/commands/hunt.ts
  src/mahoji/commands/testpotato.ts
  src/tasks/minions/HunterActivity/hunterActivity.ts
Labels: Type: Bug, BSO, Priority: High

#4388 [Naxxus] Prevent duplicates until log is full
  src/lib/data/Collections.ts
  src/lib/minions/data/killableMonsters/custom/bosses/Naxxus.ts
  src/tasks/minions/bso/naxxusActivity.ts
Labels: BSO

#4393 Fix (Nerf) Abyssal amulet Runecraft boosts
  src/lib/invention/inventions.ts
Labels: BSO, Priority: High

#4392 Fixes Invention ongoing costs by duration
  src/lib/customItems/invention/inventions.ts
  src/lib/invention/disassemble.ts
  src/lib/invention/inventions.ts
  src/lib/minions/functions/darkAltarCommand.ts
  src/mahoji/commands/build.ts
  src/mahoji/commands/craft.ts
  src/mahoji/commands/fish.ts
  src/mahoji/commands/hunt.ts
  src/mahoji/commands/laps.ts
  src/mahoji/commands/mix.ts
  src/mahoji/commands/runecraft.ts
Labels: Type: Bug, BSO, Priority: Medium

#4386 Fix "Repeat trip" button in `/m` and `/minion status`
  src/lib/events.ts
  src/mahoji/lib/abstracted_commands/minionStatusCommand.ts
Labels: Type: Bug
