Repository oldschoolgg/oldschoolbot, pull requests merged in 2022-04, with the labels that each got.

#3735 Fix some Nex bugs
  src/extendables/Message/Party.ts
  src/lib/simulation/nex.ts
  src/mahoji/commands/pay.ts
Labels: Type: Bug

#3704 Add Drygore boost to igne and configurable boosts to BossInstance class
  src/commands/bso/igne.ts
  src/lib/structures/Boss.ts
Labels: BSO

#3708 Fix items being added to --temp CL from mystery boxes.
  src/mahoji/commands/open.ts
Labels: Type: Bug, BSO, Priority: Low

#3729 Updated Prayer/Bones filter
  src/lib/data/filterables.ts
Labels: BSO

#3771 Fix more nex bugs (Nex wipes totally broken)
  src/commands/rp.ts
  src/lib/simulation/nex.ts
  src/lib/util.ts
  src/mahoji/lib/abstracted_commands/nexCommand.ts
  src/tasks/minions/nexActivity.ts
Labels: Type: Bug, Priority: Medium

#3790 Fix =buy festive present
  src/lib/settings/prisma.ts
Labels: Type: Bug, BSO

#3791 Fix 3x +m data commands
  src/lib/minions/functions/dataCommand.ts
Labels: Type: Bug

#3784 Fix alching / getUserFavAlchs / agility alching [ ...and Voidling after merge to BSO]
  src/extendables/User/User.ts
Labels: Type: Bug, Priority: Medium

#3795 [BSO] Fix =price command
  src/commands/bso/price.ts
Labels: BSO

#3802 Fix bugs with Easter update
  src/commands/Minion/sell.ts
  src/mahoji/commands/easter.ts
  tests/util.test.ts
Labels: BSO

#3540 Fix KK scaling for 4+ people.
  src/commands/bso/kk.ts
Labels: BSO, Status: Waiting For Review

#3818 Fix CoX purple bg and add Cyr purple
  src/lib/minions/data/bankBackgrounds.ts
  src/lib/resources/images/bank_backgrounds/52_purple.jpg
Labels: BSO

#3828 Fix =mypets error => Replace nexling to =mypets
  src/lib/data/pets.ts
Labels: Type: Bug, BSO

#3841 Add Custom monsters to `drystreak` command
  src/mahoji/mahojiSettings.ts
Labels: BSO

#3813 Fix bug while converting to BSO ironman
  src/lib/minions/functions/becomeIronman.ts
Labels: BSO, Status: Waiting For Review
