Repository oldschoolgg/oldschoolbot, pull requests merged in 2022-10, with the labels that each got.

#4164 Add ability to equip multiple items at once.
  jest.config.js
  src/lib/gear/index.ts
  src/lib/util/equipMulti.ts
  src/mahoji/commands/gear.ts
  src/mahoji/commands/gearpresets.ts
  src/mahoji/lib/abstracted_commands/gearCommands.ts
  tests/gearMultiEquip.test.ts
  tests/utils.ts
Labels: Type: Suggestion

#4537 Fix repeating masses and revenants
  src/lib/util/repeatStoredTrip.ts
Labels: Type: Bug

#4536 Fix degradeable items throwing error
  src/lib/degradeableItems.ts
Labels: Type: Bug

#4545 Fixes: Some leagues commands fail to reply about 50% of the time
  src/mahoji/commands/leagues.ts
Labels: Type: Bug, BSO

#4544 Add deferReply to a few commands that common error out causing complaints.
  src/mahoji/commands/casket.ts
  src/mahoji/commands/gamble.ts
  src/mahoji/lib/abstracted_commands/diceCommand.ts
Labels: Type: Bug

#4535 Fix "Abyssal tome gives negative score at CoX" - [BSO]
  src/lib/customItems/customItems.ts
Labels: Type: Bug, BSO

#4518 [BSO] Fixes some Tame bugs (most importantly: Aliases now work again!)
  src/lib/tames.ts
  src/mahoji/commands/tames.ts
Labels: BSO, Priority: Medium

#4455 Update output quantity on rc trip send
  src/mahoji/commands/runecraft.ts
Labels: BSO

#4557 Fixes Slayer Task Bugs for Inferno and Fight Caves
  src/tasks/minions/minigames/fightCavesActivity.ts
  src/tasks/minions/minigames/infernoActivity.ts
Labels: Type: Bug

#4568 Fix DoubleLoot ping
  src/lib/doubleLoot.ts
Labels: Type: Bug, BSO

#4580 Update Max Real QP to 290
  src/lib/constants.ts
Labels: BSO

#4572 Fix badges on leaderboars etc
  src/mahoji/lib/preCommand.ts
Labels: Type: Bug

#4502 adjust expire time shootingstar
  src/lib/util/calcMaxTripLength.ts
  src/mahoji/lib/abstracted_commands/shootingStarsCommand.ts
Labels: Approved

#4584 Fix @oldschoolbot b returning page 2 instead of page 1
  src/lib/events.ts
Labels: Type: Bug

#4581 Add Jar of smoke to notifications
  src/lib/minions/data/killableMonsters/konarMonsters.ts
Labels: Approved

#4585 Add Toggle for Birdhouse Run Button
  src/lib/constants.ts
  src/lib/util/handleTripFinish.ts
  src/mahoji/commands/config.ts
  src/mahoji/lib/abstracted_commands/minionStatusCommand.ts
Labels: Type: Suggestion

#4551 Removes KBD as an alternative for Konar tasks
  src/lib/slayer/tasks/konarTasks.ts
Labels: Approved

#4605 Fix repeating Baxtorian bathouses trips
  src/lib/baxtorianBathhouses.ts
Labels: Type: Bug, BSO

#4607 Replace JMOD scythe with a clearer name
  src/lib/bsoOpenables.ts
  src/lib/data/itemAliases.ts
Labels: Type: Suggestion, BSO

#4601 Make sell/trade/sacrifice ignore duplicate item names
  src/mahoji/commands/sacrifice.ts
  src/mahoji/commands/sell.ts
  src/mahoji/commands/trade.ts
Labels: Type: Bug

#4599 Fix trade command (incorrectly calling `filterLoot`)
  src/mahoji/commands/trade.ts
Labels: Type: Bug

#4293 Plank make butler
  prisma/schema.prisma
  src/lib/Task.ts
  src/lib/minions/data/planks.ts
  src/lib/types/minions.ts
  src/lib/util/minionStatus.ts
  src/lib/util/repeatStoredTrip.ts
  src/mahoji/commands/activities.ts
  src/mahoji/lib/abstracted_commands/butlerCommand.ts
  src/tasks/minions/butlerActivity.ts
Labels: Status: Waiting For Review

#3975 filters auto_farm
  prisma/schema.prisma
  src/lib/MUser.ts
  src/lib/minions/functions/autoFarm.ts
  src/lib/minions/functions/autoFarmFilters.ts
  src/mahoji/commands/farming.ts
Labels: Status: Waiting For Review

#4603 Add New Monsters / Activities and Aliases to the Finish Command
  src/lib/data/CollectionsExport.ts
  src/lib/finishables.ts
  src/mahoji/commands/finish.ts
Labels: Status: Waiting For Review

#4633 Fix bug with Bank filters (Make filter orders of magnitude more efficient)
  src/lib/data/filterables.ts
  src/lib/util/parseStringBank.ts
Labels: Type: Bug, Priority: High

#4632 Amend old prefix messages
  src/mahoji/commands/bank.ts
  src/mahoji/lib/abstracted_commands/revsCommand.ts
Labels: Priority: Low

#4630 Dont run tickers during shutdown
  src/lib/tickers.ts
  src/mahoji/commands/admin.ts
Labels: Type: Bug, Priority: High

#4646 Bso merge 20221027
  package.json
  src/extendables/Message/Party.ts
  src/lib/PaginatedMessage.ts
  src/lib/data/cox.ts
  src/lib/settings/prisma.ts
  src/lib/tickers.ts
  src/mahoji/commands/admin.ts
  src/mahoji/commands/minion.ts
  src/mahoji/commands/use.ts
  yarn.lock
Labels: BSO

#4647 Typo fix - Admin badges add
  src/mahoji/commands/admin.ts
Labels: Priority: Low

#4648 Add Buttons for Multiple Clues in a Trip
  src/lib/util/handleTripFinish.ts
Labels: Status: Waiting For Review

#4654 Fix Trips not returning
  src/lib/DynamicButtons.ts
  src/lib/util/handleTripFinish.ts
  src/mahoji/lib/abstracted_commands/shootingStarsCommand.ts
Labels: Type: Bug, Priority: High

#4657 Fix finishables for wt and naxxus
  src/lib/finishables.ts
  src/lib/minions/data/killableMonsters/custom/bosses/Naxxus.ts
  src/tasks/minions/bso/naxxusActivity.ts
Labels: Type: Bug, BSO

#4651 Resolve Achivement Diary claim spam
  src/lib/diaries.ts
  src/mahoji/lib/abstracted_commands/achievementDiaryCommand.ts
Labels: Priority: Medium

#4645 Fix bug with Activities resetting
  src/lib/structures/Boss.ts
Labels: Type: Bug, BSO

#4656 Fix KK + Nex checking for regular food
  src/mahoji/lib/abstracted_commands/kkCommand.ts
  src/mahoji/lib/abstracted_commands/nexCommand.ts
Labels: Type: Bug, BSO

#4604 Fix DoubleLoot trigger for premium time patrons.
  src/mahoji/commands/tools.ts
Labels: Type: Bug, BSO

#4638 Add a chance to get spores from farming seaweed
  src/tasks/minions/farmingActivity.ts
Labels: Type: Suggestion, Priority: Low
