Repository oldschoolgg/oldschoolbot, pull requests merged in 2023-06, with the labels that each got.

#5141 Add clue completions patron command
  src/mahoji/commands/tools.ts
Labels: Status: Waiting For Review

#5139 True Blood Altar
  prisma/schema.prisma
  src/lib/data/buyables/buyables.ts
  src/lib/degradeableItems.ts
  src/lib/minions/functions/darkAltarCommand.ts
  src/lib/skilling/functions/calcsRunecrafting.ts
  src/lib/skilling/functions/questRequirements.ts
  src/lib/skilling/skills/runecraft.ts
  src/lib/util/repeatStoredTrip.ts
  src/mahoji/commands/mine.ts
  src/mahoji/commands/runecraft.ts
  src/mahoji/lib/abstracted_commands/zalcanoCommand.ts
  src/tasks/minions/darkAltarActivity.ts
  src/tasks/minions/runecraftActivity.ts
Labels: Status: Waiting For Review

#5149 Fix White Rabbits item consumption
  src/lib/skilling/skills/hunter/creatures/rabbitSnaring.ts
Labels: Type: Bug, BSO, Priority: High

#5153 Make fixbank work on Sacrifice Log, too
  src/lib/util/repairBrokenItems.ts
Labels: Type: Bug, BSO

#5164 Bso merge 20230614
  src/lib/util/minionStatus.ts
  src/mahoji/commands/admin.ts
  src/mahoji/commands/rp.ts
  src/mahoji/lib/abstracted_commands/lampCommand.ts
Labels: BSO

#5168 Fix raiments of the eye outfit boost
  src/tasks/minions/runecraftActivity.ts
Labels: Status: Waiting For Review

#5172 Fixes Tame / Favorite Food / Raw Food bug
  src/mahoji/commands/config.ts
Labels: Type: Bug

#5176 Fix Double-Degrade bug (merge error)
  src/mahoji/lib/abstracted_commands/minionKill.ts
Labels: Type: Bug, BSO

#5180 Tinkerer's Workshop - Fix error inserting fractional XP
  src/tasks/minions/bso/tinkeringWorkshopActivity.ts
Labels: Type: Bug, BSO

#4864 maniacal monkey as killable monster (chinning)
  src/lib/constants.ts
  src/lib/minions/data/killableMonsters/low.ts
  src/lib/minions/types.ts
  src/lib/types/minions.ts
  src/lib/util/repeatStoredTrip.ts
  src/mahoji/lib/abstracted_commands/minionKill.ts
Labels: Status: Waiting For Review

#5183 Remove duplicated code in WC Activity
  src/tasks/minions/woodcuttingActivity.ts
Labels: Type: Bug, BSO

#5185 Fix first character being chopped off stats embed
  src/lib/util/minionStatsEmbed.ts
Labels: Type: Bug

#5184 Make HP Cape work for DoA
  src/lib/util/calcMaxTripLength.ts
Labels: BSO

#5182 Prevent mistaken openings for rare openables
  src/lib/bsoOpenables.ts
Labels: BSO
