Repository oldschoolgg/oldschoolbot, pull requests merged in 2023-03, with the labels that each got.

#4990 [BSO] - Fix the ability to solo Theatre of Blood
  src/mahoji/lib/abstracted_commands/tobCommand.ts
Labels: Type: Bug, BSO

#4869 Make clue buttons a function
  src/lib/util/globalInteractions.ts
  src/lib/util/handleTripFinish.ts
  src/lib/util/smallUtils.ts
  src/mahoji/lib/abstracted_commands/barbAssault.ts
  src/mahoji/lib/abstracted_commands/openCommand.ts
Labels: Status: Waiting For Review

#4993 Fix clue update on BSO
  src/lib/MUser.ts
Labels: Type: Bug, BSO

#4997 Add new presets to testpotato
  src/mahoji/commands/testpotato.ts
Labels: Status: Waiting For Review

#5004 Fix rounding issue on bad nex gear
  src/lib/simulation/nex.ts
Labels: Status: Waiting For Review

#5000 Show qty owned in /minion lamp command
  src/mahoji/commands/minion.ts
Labels: Status: Waiting For Review

#5001 Farming contract improvements
  src/lib/constants.ts
  src/lib/util.ts
  src/lib/util/handleTripFinish.ts
  src/mahoji/commands/config.ts
  src/mahoji/lib/abstracted_commands/farmingContractCommand.ts
  src/mahoji/lib/abstracted_commands/minionStatusCommand.ts
Labels: Status: Waiting For Review

#5027 Bug Fixes with the new Update
  src/lib/MUser.ts
  src/mahoji/commands/leaderboard.ts
  src/mahoji/lib/abstracted_commands/stashUnitsCommand.ts
  src/tasks/minions/minigames/roguesDenMazeActivity.ts
  src/tasks/minions/minigames/templeTrekkingActivity.ts
Labels: Type: Bug

#5018 Add the crafting of Splitbark Armour
  src/lib/skilling/skills/crafting/craftables/misc.ts
Labels: Status: Waiting For Review

#4894 Extend length of Amethyst trip length by 2x
  src/lib/skilling/functions/determineMiningTime.ts
Labels: Type: Suggestion, Status: Thinking/Waiting

#4877 Shades of Mort'ton Fix coffin boost
  src/mahoji/lib/abstracted_commands/shadesOfMortonCommand.ts
Labels: Priority: Low, Status: Waiting For Review

#4835 Mahogany Homes, tier contract selection
  src/lib/types/minions.ts
  src/lib/util/repeatStoredTrip.ts
  src/mahoji/commands/minigames.ts
  src/mahoji/lib/abstracted_commands/mahoganyHomesCommand.ts
Labels: Priority: Low, Status: Waiting For Review
