Repository oldschoolgg/oldschoolbot, pull requests merged in 2023-08, with the labels that each got.

#5231 Allow 'Overall (Main LB)' to be filtered as normal
  src/mahoji/commands/leaderboard.ts
Labels: Type: Bug

#5230 Fix issue with growables and CL
  src/lib/MUser.ts
  src/lib/growablePets.ts
  src/lib/handleNewCLItems.ts
  src/mahoji/lib/abstracted_commands/minionStatusCommand.ts
Labels: Type: Bug

#5239 Bso merge 20230805
  prisma/schema.prisma
  src/mahoji/commands/admin.ts
  src/mahoji/commands/gamble.ts
Labels: BSO

#5245 Lots of bug fixes from Sentry
  docker-compose.yml
  src/lib/roboChimp.ts
  src/mahoji/lib/abstracted_commands/autoSlayCommand.ts
  src/mahoji/lib/abstracted_commands/slayerTaskCommand.ts
  src/scripts/integration-tests.ts
  src/tasks/minions/minigames/nightmareActivity.ts
  tests/unit/images.test.ts
  tests/unit/snapshots/images-test-ts-tests-unit-images-test-ts-images-collection-log-1-snap.png
Labels: Type: Bug

#5287 Bso merge tob multitrip
  src/lib/combat_achievements/combatAchievements.ts
  src/lib/data/tob.ts
  src/lib/minions/data/killableMonsters/bosses/dt.ts
  src/lib/types/minions.ts
  src/lib/util/calcMaxTripLength.ts
  src/mahoji/commands/raid.ts
  src/mahoji/lib/abstracted_commands/tobCommand.ts
  src/tasks/minions/minigames/tobActivity.ts
Labels: BSO

#5222 Replace old BSO Solo ToB
  src/lib/data/tob.ts
  src/mahoji/lib/abstracted_commands/tobCommand.ts
  src/tasks/minions/minigames/tobActivity.ts
Labels: BSO

#5289 ToB Update Launch Fixes
  src/mahoji/lib/abstracted_commands/tobCommand.ts
  src/tasks/minions/minigames/tobActivity.ts
Labels: Type: Bug

#5290 Merge launch fixes bso
  src/mahoji/lib/abstracted_commands/tobCommand.ts
  src/tasks/minions/minigames/tobActivity.ts
Labels: BSO

#4981 ToA item boosts
  src/lib/data/cox.ts
  src/lib/minions/data/killableMonsters/bosses/gwd.ts
  src/lib/minions/data/killableMonsters/bosses/misc.ts
  src/lib/minions/data/killableMonsters/bosses/wildy.ts
  src/lib/minions/data/killableMonsters/chaeldarMonsters.ts
  src/lib/minions/data/killableMonsters/index.ts
  src/lib/minions/data/killableMonsters/konarMonsters.ts
  src/lib/minions/data/killableMonsters/vannakaMonsters.ts
  src/mahoji/lib/abstracted_commands/infernoCommand.ts
  src/mahoji/lib/abstracted_commands/nightmareCommand.ts
Labels: Status: Waiting For Review

#5156 Allow minion to clean herbs on herb runs
  prisma/schema.prisma
  src/lib/constants.ts
  src/lib/skilling/skills/farming/herbPlants.ts
  src/lib/skilling/types.ts
  src/mahoji/commands/config.ts
  src/tasks/minions/farmingActivity.ts
Labels: Status: Waiting For Review

#4741 Barbarian Potions + Roe/Caviar
  prisma/schema.prisma
  src/lib/Task.ts
  src/lib/minions/data/potions.ts
  src/lib/minions/functions/decantPotionFromBank.ts
  src/lib/skilling/skills/cooking/cooking.ts
  src/lib/skilling/skills/cooking/leapingFish.ts
  src/lib/skilling/skills/herblore/mixables/barbMixes.ts
  src/lib/skilling/skills/herblore/mixables/crush.ts
  src/lib/skilling/skills/herblore/mixables/grimy.ts
  src/lib/skilling/skills/herblore/mixables/index.ts
  src/lib/skilling/skills/herblore/mixables/potions.ts
  src/lib/skilling/skills/herblore/mixables/tar.ts
  src/lib/skilling/skills/herblore/mixables/unfinishedPotions.ts
  src/lib/skilling/skills/index.ts
  src/lib/skilling/types.ts
  src/lib/types/minions.ts
  src/lib/util/minionStatus.ts
  src/lib/util/repeatStoredTrip.ts
  src/mahoji/commands/cook.ts
  src/mahoji/commands/mix.ts
  src/mahoji/lib/abstracted_commands/cutLeapingFishCommand.ts
  src/tasks/minions/cookingActivity.ts
  src/tasks/minions/cutLeapingFishActivity.ts
  src/tasks/minions/herbloreActivity.ts
  tests/unit/decanting.test.ts
Labels: Status: Waiting For Review
