Repository oldschoolgg/oldschoolbot, pull requests merged in 2023-01, with the labels that each got.

#4787 Add swamp toads to collecting
  src/mahoji/lib/abstracted_commands/collectCommand.ts
Labels: Priority: Low

#4797 Add spoiler text to loot at Baxtorian Bathhouse
  src/lib/baxtorianBathhouses.ts
Labels: BSO, Priority: Low

#4817 Tidy Ardy Boost for Farming Command
  src/mahoji/lib/abstracted_commands/farmingCommand.ts
Labels: Priority: Low

#4840 Update farming protection cost string
  src/mahoji/lib/abstracted_commands/farmingCommand.ts
Labels: Priority: Low

#4860 gilded skilling item
  src/lib/data/similarItems.ts
Labels: Status: Waiting For Changes
