Repository oldschoolgg/oldschoolbot, pull requests merged in 2023-09, with the labels that each got.

#5326 Bso merge gamble lockout 20230907
  prisma/schema.prisma
  src/lib/util/interactionHelpers.ts
  src/mahoji/commands/config.ts
  src/mahoji/commands/gamble.ts
Labels: BSO

#5332 Bingo fixes!
  src/lib/util.ts
  src/mahoji/commands/bingo.ts
  src/mahoji/lib/bingo/BingoManager.ts
  src/mahoji/lib/bingo/bingoUtil.ts
Labels: Type: Bug

#5333 Bso merge bingo fixes
  src/lib/util.ts
  src/mahoji/commands/bingo.ts
  src/mahoji/lib/bingo/BingoManager.ts
  src/mahoji/lib/bingo/bingoUtil.ts
Labels: BSO

#5334 Fix similar items match for torva
  src/lib/data/similarItems.ts
Labels: Type: Bug, BSO

#5319 Add Scaly Blue Dragonhide to Openables
  src/lib/openables.ts
Labels: Status: Waiting For Review

#5350 Buff Monkey Rumble
  src/mahoji/commands/tames.ts
  src/mahoji/lib/abstracted_commands/monkeyRumbleCommand.ts
Labels: BSO

#5349 Fix trade/confirmation pings
  src/lib/util/handleMahojiConfirmation.ts
Labels: Type: Bug

#5351 Fix Ciruclars
  src/lib/clues/clueUtils.ts
  src/lib/util/handleTripFinish.ts
  src/lib/util/smallUtils.ts
  src/mahoji/lib/abstracted_commands/barbAssault.ts
  src/mahoji/lib/abstracted_commands/openCommand.ts
Labels: Type: Bug

#5361 Fix BSO integration tests
  .env.example
  tests/integration/commands/ironman.test.ts
  tests/integration/dryStreak.test.ts
  tests/integration/mega.test.ts
  tests/unit/snapshots/images-test-ts-tests-unit-images-test-ts-images-collection-log-1-snap.png
Labels: Type: Bug, BSO

#5367 Fix BSO Unit Tests / ParseStringBank (threads = true)
  src/lib/customItems/util.ts
  src/lib/util/parseStringBank.ts
  tests/unit/parseStringBank.test.ts
  vitest.unit.config.ts
Labels: BSO

#5365 Break dyed Hellfire bows instead of delete
  src/lib/util/calculateGearLostOnDeathWilderness.ts
Labels: Type: Bug, BSO

#5366 Make Wintertodt + Tempoross tame trips ping
  src/lib/tames.ts
Labels: Type: Bug, BSO

#5376 Rework degradable items
  src/lib/degradeableItems.ts
  src/mahoji/lib/abstracted_commands/minionKill.ts
Labels: Type: Bug

#5378 Wilderness Fixes + Disable PK'ing at Wildy Bosses Until it's Fixed
  src/lib/data/eatables.ts
  src/lib/minions/data/killableMonsters/bosses/wildy.ts
  src/lib/minions/functions/getUserFoodFromBank.ts
  src/lib/minions/functions/removeFoodFromUser.ts
  src/mahoji/lib/abstracted_commands/minionKill.ts
Labels: Type: Bug

#5381 Fix Wilderness Issues
  prisma/schema.prisma
  src/lib/minions/data/killableMonsters/revs.ts
  src/lib/minions/functions/getUserFoodFromBank.ts
  src/lib/minions/functions/removeFoodFromUser.ts
  src/lib/util/calcWildyPkChance.ts
  src/lib/util/calculateGearLostOnDeathWilderness.ts
  src/mahoji/commands/rp.ts
  src/mahoji/lib/abstracted_commands/minionKill.ts
  src/mahoji/lib/abstracted_commands/revsCommand.ts
Labels: Type: Bug

#5382 Fix specialRemoveItems to remove wildy range ammo
  src/lib/MUser.ts
  src/mahoji/lib/abstracted_commands/minionKill.ts
Labels: Type: Bug
