Repository oldschoolgg/oldschoolbot, pull requests merged in 2023-02, with the labels that each got.

#4900 Added korulsi bank shortname
  src/lib/bankImage.ts
Labels: Status: Waiting For Changes

#4564 Change hunter scaling to max level for BSO
  src/tasks/minions/HunterActivity/hunterActivity.ts
Labels: Type: Suggestion

#4821 Nightmare zone
  README.md
  prisma/schema.prisma
  src/lib/Task.ts
  src/lib/constants.ts
  src/lib/minions/functions/index.ts
  src/lib/minions/types.ts
  src/lib/settings/minigames.ts
  src/lib/types/minions.ts
  src/lib/util/calcMaxTripLength.ts
  src/lib/util/minionStatus.ts
  src/lib/util/repeatStoredTrip.ts
  src/lib/util/updateBankSetting.ts
  src/mahoji/commands/minigames.ts
  src/mahoji/lib/abstracted_commands/nightmareZoneCommand.ts
  src/tasks/minions/minigames/nightmareZoneActivity.ts
Labels: Status: Waiting For Review

#4919 [BSO] Fix Nex + Kalphite King crash/loot issue
  src/tasks/minions/bso/kalphiteKingActivity.ts
  src/tasks/minions/bso/nexActivity.ts
Labels: Type: Bug, BSO

#4920 Add "Auto Farming Contract" button to Trip Finish Message
  src/lib/util/handleTripFinish.ts
  src/mahoji/lib/abstracted_commands/minionStatusCommand.ts
Labels: Status: Waiting For Review

#4867 Clue rates changes
  src/lib/clues/clueTiers.ts
  src/lib/data/buyables/buyables.ts
  src/lib/data/createables.ts
  src/mahoji/commands/clue.ts
Labels: Status: Waiting For Review

#4953 Fix bug with obtaining multiple Hammys
  src/mahoji/commands/sacrifice.ts
Labels: Type: Bug, BSO

#4916 fix loot pic toa
  src/tasks/minions/minigames/toaActivity.ts
Labels: Status: Waiting For Review

#4923 Show qty owned when offering and limit to what is owned
  src/mahoji/commands/offer.ts
Labels: Status: Waiting For Review

#4931 Can use divine rune pouch in place of rune pouch in inferno
  src/mahoji/lib/abstracted_commands/infernoCommand.ts
Labels: Status: Waiting For Review

#4896 Add auto farm button to check patches
  src/lib/util/farmingHelpers.ts
  src/lib/util/smallUtils.ts
Labels: Status: Waiting For Review

#4889 Make Wintertodt messages consistent with minionKill
  src/mahoji/lib/abstracted_commands/wintertodtCommand.ts
Labels: Status: Waiting For Review

#4962 Fix remaining Gear command bug
  src/lib/structures/Gear.ts
  tests/Gear.test.ts
Labels: Type: Bug

#4973 fix gear bug - osb
  src/mahoji/lib/abstracted_commands/gearCommands.ts
Labels: Type: Bug, Priority: High
