Repository oldschoolgg/oldschoolbot, pull requests merged in 2023-07, with the labels that each got.

#5190 Sell Inert Xeric's Talismans
  src/lib/data/creatablesTable.txt
  src/lib/data/createables.ts
  tests/unit/snapshots/banksnapshots.test.ts.snap
Labels: Status: Needs Information

#5207 Karambwan and wine update
  src/mahoji/commands/cook.ts
Labels: Status: Waiting For Review

#5217 Fix celestial ring similar items
  src/lib/data/similarItems.ts
  tests/unit/similarItems.test.ts
Labels: Type: Bug

#5212 Completionist Fixes
  src/lib/compCape.ts
  src/lib/structures/Requirements.ts
Labels: Type: Bug, BSO

#5213 Fix Revert to components not adding CL (BSO)
  src/lib/data/creatables/bsoItems.ts
  src/lib/data/creatables/toa.ts
  src/lib/data/creatablesTable.txt
  tests/unit/snapshots/banksnapshots.test.ts.snap
Labels: Type: Bug, BSO

#5214 Fix Revert to Armadyl plates not adding CL (OSB)
  src/lib/data/creatables/toa.ts
  tests/unit/snapshots/banksnapshots.test.ts.snap
Labels: Type: Bug

#5223 Dye rework
  src/lib/gear/functions/generateGearImage.ts
  src/lib/paintColors.ts
Labels: BSO

#5226 Fix incorrect cost for Ornate Jewellery Box
  src/lib/poh/objects/jewellery_boxes.ts
Labels: Type: Bug
