Repository oldschoolgg/oldschoolbot, pull requests merged in 2023-10, with the labels that each got.

#5392 Allow decanting of Forgotten Brew
  src/lib/minions/data/potions.ts
Labels: Status: Waiting For Review

#5374 Fix Nex Combat Achievements in BSO
  src/lib/combat_achievements/elite.ts
  src/lib/combat_achievements/master.ts
Labels: Status: Needs Information

#5405 Return sacrifice icon to item search
  src/lib/events.ts
Labels: Status: Waiting For Changes

#5394 Add a way to check gear lost in Wildy
  src/mahoji/commands/gear.ts
  src/mahoji/lib/abstracted_commands/gearCommands.ts
Labels: Status: Waiting For Review

#5430 Smokey's perk when equipped fix
  src/mahoji/lib/abstracted_commands/openCommand.ts
Labels: BSO

#5442 Cleanup code duplication in BankBG code
  src/lib/MUser.ts
  src/mahoji/lib/abstracted_commands/bankBgCommand.ts
Labels: BSO

#5447 BankBackground bug fixes / cleanup
  src/lib/minions/data/bankBackgrounds.ts
  src/lib/patreon.ts
  src/mahoji/lib/abstracted_commands/statCommand.ts
Labels: Type: Bug

#5448 BSO Infernal Slayer Helm fix
  src/mahoji/lib/abstracted_commands/minionKill.ts
Labels: BSO

#5459 Fix passive implings league task
  src/lib/leagues/eliteTasks.ts
  src/lib/leagues/hardTasks.ts
  src/lib/leagues/masterTasks.ts
Labels: Type: Bug, BSO

#5463 Fix KillableMonsters/Revenants + /minion status
  src/lib/minions/data/killableMonsters/index.ts
  src/mahoji/commands/k.ts
  src/tasks/minions/monsterActivity.ts
Labels: Type: Bug

#5466 Fix BSO specific ToB Finishable Bug
  src/lib/data/CollectionsExport.ts
  src/lib/finishables.ts
Labels: Type: Bug, BSO

#5484 Fix "Monster Drop" box spawn
  src/lib/boxSpawns.ts
Labels: Type: Bug, BSO

#5486 Migrate user improvements
  src/lib/MUser.ts
  src/lib/util/transactItemsFromBank.ts
  src/mahoji/commands/config.ts
  src/mahoji/commands/gearpresets.ts
  src/mahoji/lib/abstracted_commands/cancelGEListingCommand.ts
  src/tasks/minions/minigames/lmsActivity.ts
  tests/integration/migrateUser.test.ts
Labels: Type: Bug
