Repository oldschoolgg/oldschoolbot, pull requests merged in 2023-04, with the labels that each got.

#5031 Bug fixes - Duel command + Leaderboard command
  src/lib/MUser.ts
  src/lib/util/logError.ts
  src/mahoji/lib/abstracted_commands/duelCommand.ts
Labels: Type: Bug

#4878 Add clue scrolls to aerial fishing
  src/tasks/minions/HunterActivity/aerialFishingActivity.ts
Labels: Priority: Low, Status: Waiting For Review

#4876 Add Amulet Space to PoH
  prisma/schema.prisma
  src/lib/poh/images/amulet/33417.png
  src/lib/poh/images/amulet/33418.png
  src/lib/poh/images/amulet/33419.png
  src/lib/poh/index.ts
  src/lib/poh/objects/amulets.ts
  src/lib/pohImage.ts
  src/mahoji/commands/poh.ts
  tests/unit/calcPOHBoosts.test.ts
Labels: Status: Waiting For Review

#5078 Make FixBank fix tames, too
  src/lib/util/repairBrokenItems.ts
Labels: Type: Bug, BSO

#5017 Strung Rabbit Foot necklace
  src/lib/minions/functions/addSkillingClueToLoot.ts
  src/lib/simulation/birdsNest.ts
  src/lib/skilling/skills/crafting/craftables/misc.ts
  src/lib/skilling/skills/hunter/birdHouseTrapping.ts
  src/tasks/minions/HunterActivity/birdhouseActivity.ts
  src/tasks/minions/woodcuttingActivity.ts
Labels: Status: Waiting For Review

#4883 Stalls update
  src/lib/skilling/skills/thieving/stealables.ts
Labels: Status: Needs Information
