Repository oldschoolgg/oldschoolbot, pull requests merged in 2023-12, with the labels that each got.

#5531 Add Mr E bonus to /tames cast
  src/lib/tames.ts
Labels: BSO

#5431 Ruins of Camdozaal
  prisma/schema.prisma
  src/lib/Task.ts
  src/lib/data/creatablesTable.txt
  src/lib/data/createables.ts
  src/lib/minions/data/killableMonsters/camdozaalMonsters.ts
  src/lib/minions/data/killableMonsters/index.ts
  src/lib/musicCape.ts
  src/lib/skilling/skills/fishing.ts
  src/lib/skilling/skills/mining.ts
  src/lib/types/minions.ts
  src/lib/util/minionStatus.ts
  src/lib/util/repeatStoredTrip.ts
  src/mahoji/commands/activities.ts
  src/mahoji/lib/abstracted_commands/camdozaalCommand.ts
  src/mahoji/lib/abstracted_commands/shootingStarsCommand.ts
  src/tasks/minions/camdozaalActivity/camdozaalFishingActivity.ts
  src/tasks/minions/camdozaalActivity/camdozaalMiningActivity.ts
  src/tasks/minions/camdozaalActivity/camdozaalSmithingActivity.ts
  tests/unit/snapshots/banksnapshots.test.ts.snap
  tests/unit/snapshots/clsnapshots.test.ts.snap
Labels: Status: Waiting For Review

#5393 Add monthly to gains commands
  README.md
  src/mahoji/commands/tools.ts
Labels: Status: Waiting For Review

#5541 Add Gary to BSO Shades of Mort'ton cl
  src/lib/data/CollectionsExport.ts
  tests/unit/snapshots/clsnapshots.test.ts.snap
Labels: BSO

#5559 Fix some grammar, spelling, and consistency issues with the new clue update
  src/lib/types/minions.ts
  src/mahoji/commands/clue.ts
  src/tasks/minions/clueActivity.ts
Labels: Type: Bug
