Repository oldschoolgg/oldschoolbot, pull requests merged in 2023-05, with the labels that each got.

#5096 Fix Festive Present bug
  src/mahoji/commands/buy.ts
Labels: Type: Bug, BSO, Priority: High

#5099 Reduce leagues mystery impling requirement to 50
  src/lib/leagues/masterTasks.ts
Labels: BSO

#5103 Fix Top Giveawayer Role - Currently only works for BSO or OSB, not both
  src/lib/rolesTask.ts
Labels: Type: Bug, BSO

#5118 Add Quest Points to Jubbly Birds
  src/lib/minions/data/killableMonsters/low.ts
Labels: Status: Waiting For Review

#5117 Add ironman filter to kc + xp gains
  src/mahoji/commands/tools.ts
Labels: Status: Waiting For Review

#5109 Remove duplicate crossbow string in craftables
  src/lib/skilling/skills/crafting/craftables/misc.ts
Labels: Status: Waiting For Review

#5055 Update Wintertodt to give 2/3 Torstol Seeds
  src/lib/simulation/wintertodt.ts
Labels: Status: Waiting For Review

#5036 Remove powermining if the Banking Time is 0
  src/mahoji/commands/mine.ts
Labels: Status: Waiting For Review

#5126 Make GE work properly
  src/lib/grandExchange.ts
Labels: Type: Bug, Priority: High

#5064 Update special sold items with Plunder items
  src/mahoji/commands/sell.ts
Labels: Status: Waiting For Review

#5104 Fix Giveaway bugs - unable to giveaway coins or specialTradeables.
  src/mahoji/commands/giveaway.ts
Labels: Type: Bug, Priority: Medium

#4434 Motherlode Mine
  prisma/schema.prisma
  src/lib/Task.ts
  src/lib/skilling/functions/miningBoosts.ts
  src/lib/skilling/skills/mining.ts
  src/lib/skilling/types.ts
  src/lib/types/minions.ts
  src/lib/util/minionStatus.ts
  src/lib/util/repeatStoredTrip.ts
  src/mahoji/commands/mine.ts
  src/mahoji/lib/abstracted_commands/guardiansOfTheRiftCommand.ts
  src/mahoji/lib/abstracted_commands/motherlodeMineCommand.ts
  src/mahoji/lib/abstracted_commands/shootingStarsCommand.ts
  src/tasks/minions/miningActivity.ts
  src/tasks/minions/motherlodeMineActivity.ts
Labels: Status: Waiting For Review

#5134 Motherlode Mine Update (BSO)
  .github/workflows/inttests.yml
  package.json
  prisma/schema.prisma
  src/index.ts
  src/lib/Task.ts
  src/lib/bankImage.ts
  src/lib/grandExchange.ts
  src/lib/metrics.ts
  src/lib/simulation/wintertodt.ts
  src/lib/skilling/functions/miningBoosts.ts
  src/lib/skilling/skills/crafting/craftables/misc.ts
  src/lib/skilling/skills/mining.ts
  src/lib/skilling/types.ts
  src/lib/tickers.ts
  src/lib/types/minions.ts
  src/lib/util/globalInteractions.ts
  src/lib/util/logger.ts
  src/lib/util/minionStatus.ts
  src/lib/util/repeatStoredTrip.ts
  src/lib/util/smallUtils.ts
  src/mahoji/commands/ge.ts
  src/mahoji/commands/gearpresets.ts
  src/mahoji/commands/giveaway.ts
  src/mahoji/commands/mine.ts
  src/mahoji/commands/sell.ts
  src/mahoji/commands/tools.ts
  src/mahoji/commands/trade.ts
  src/mahoji/lib/abstracted_commands/guardiansOfTheRiftCommand.ts
  src/mahoji/lib/abstracted_commands/motherlodeMineCommand.ts
  src/mahoji/lib/abstracted_commands/shootingStarsCommand.ts
  src/tasks/minions/agilityActivity.ts
  src/tasks/minions/miningActivity.ts
  src/tasks/minions/motherlodeMineActivity.ts
  yarn.lock
Labels: BSO

#4785 High-Tier Implings - Puro-Puro
  src/lib/implings.ts
  src/lib/types/minions.ts
  src/lib/util/repeatStoredTrip.ts
  src/mahoji/commands/activities.ts
  src/mahoji/lib/abstracted_commands/puroPuroCommand.ts
  src/tasks/minions/minigames/puroPuroActivity.ts
Labels: Status: Waiting For Changes
