Repository oldschoolgg/oldschoolbot, pull requests merged in 2024-08, with the labels that each got.

#5981 Fix CA & few adjustments
  src/lib/combat_achievements/combatAchievements.ts
  src/lib/combat_achievements/hard.ts
  src/lib/combat_achievements/medium.ts
Labels: Type: Bug

#6001 Adjust mining portent charges
  src/lib/bso/divination.ts
  src/tasks/minions/miningActivity.ts
Labels: BSO

#5980 Fix god favour for PVM trips
  src/lib/util/handleTripFinish.ts
Labels: Type: Bug, BSO

#6013 More divine water options
  src/lib/data/creatables/bsoItems.ts
  src/lib/data/creatablesTable.txt
  tests/unit/snapshots/banksnapshots.test.ts.snap
Labels: BSO

#6011 Corp and scurrius boosts
  src/lib/data/similarItems.ts
  src/lib/degradeableItems.ts
  src/lib/minions/data/killableMonsters/bosses/misc.ts
  src/mahoji/lib/abstracted_commands/minionKill.ts
Labels: Status: Waiting For Review

#6004 More ca fixes
  src/lib/combat_achievements/combatAchievements.ts
  src/lib/combat_achievements/grandmaster.ts
  src/lib/combat_achievements/master.ts
Labels: Type: Bug

#6014 Muliple combat method fixes
  src/lib/minions/data/killableMonsters/bosses/wildy.ts
  src/lib/minions/data/killableMonsters/konarMonsters.ts
  src/lib/minions/data/killableMonsters/vannakaMonsters.ts
  src/mahoji/commands/config.ts
  src/mahoji/lib/abstracted_commands/minionKill.ts
Labels: Type: Bug

#6016 Kuro
  src/mahoji/lib/abstracted_commands/gnomeRestaurantCommand.ts
Labels: BSO

#6027 BSO minionKill fix
  src/lib/constants.ts
  src/lib/minions/data/killableMonsters/konarMonsters.ts
  src/lib/minions/data/killableMonsters/vannakaMonsters.ts
  src/mahoji/commands/config.ts
  src/mahoji/lib/abstracted_commands/minionKill.ts
Labels: BSO

#6028 Cannon fix
  src/lib/slayer/slayerUtil.ts
  src/mahoji/lib/abstracted_commands/minionKill.ts
Labels: BSO

#6020 Fix kc_gains command
  src/mahoji/commands/tools.ts
Labels: BSO
