Repository oldschoolgg/oldschoolbot, pull requests merged in 2024-05, with the labels that each got.

#5866 Fix Pie Chart to show the data values.
  src/lib/util/chart.ts
  src/mahoji/lib/abstracted_commands/statCommand.ts
Labels: Type: Bug

#5864 Group Masked kills by Monster group
  src/lib/slayer/slayerUtil.ts
  src/mahoji/lib/abstracted_commands/statCommand.ts
Labels: BSO

#5697 Make Cooking boosts stack, also rebalance slightly.
  src/mahoji/commands/cook.ts
Labels: BSO

#5867 Irons can get Random Box Spawns again
  src/lib/boxSpawns.ts
Labels: BSO

#5863 Wintertodt drygore axe
  src/lib/data/similarItems.ts
Labels: Status: Waiting For Changes

#5765 [TESTED]Updated fishing contest button to check for the items of both locations
  src/mahoji/lib/abstracted_commands/fishingContestCommand.ts
Labels: Status: Needs Testing

#5861 Add short text for Blood orange seed
  src/lib/bankImage.ts
Labels: Status: Waiting For Changes

#5784 [TESTED]Display DG Buyables list by sending command without item flag
  src/mahoji/commands/dg.ts
Labels: Status: Needs Testing

#5871 Make 'Snowman plushie' tradeable
  src/lib/customItems/customItems.ts
Labels: BSO

#5778 Update QP and Slayer Block Formula
  src/lib/slayer/slayerUtil.ts
  src/mahoji/lib/abstracted_commands/lampCommand.ts
  src/mahoji/lib/abstracted_commands/questCommand.ts
  src/mahoji/lib/abstracted_commands/slayerTaskCommand.ts
  src/tasks/minions/specificQuestActivity.ts
  tests/unit/snapshots/banksnapshots.test.ts.snap
Labels: Status: Waiting For Review

#5872 Make Divine hand work from bank when Converting to Energy
  src/lib/invention/inventions.ts
Labels: Type: Bug, BSO

#5876 Fix recently killed monster list
  src/mahoji/commands/k.ts
Labels: Type: Bug

#5890 Fix broken Lamp command from missing item
  src/mahoji/lib/abstracted_commands/lampCommand.ts
Labels: Type: Bug

#5888 BSO Agility visual bugfixes
  src/tasks/minions/agilityActivity.ts
Labels: BSO

#5884 Removed doubled entries in /cl & Collections
  src/lib/data/Collections.ts
  tests/unit/snapshots/clsnapshots.test.ts.snap
Labels: Status: Waiting For Changes

#5891 Boost 'Plated' materials rate from Metals class (primarily bars)
  src/lib/invention/groups/Metals.ts
Labels: BSO
