Repository oldschoolgg/oldschoolbot, pull requests merged in 2024-04, with the labels that each got.

#5809 [SQL] Change some sums to bigint where it's possible they will go out of range
  src/mahoji/lib/abstracted_commands/statCommand.ts
Labels: Type: Bug

#5814 Fix clobbering Robochimp records when both bots are migrated.
  prisma/robochimp.prisma
  src/lib/util/migrateUser.ts
  tests/integration/migrateUser.test.ts
Labels: Type: Bug

#5820 Improve/fix Slepey tablet drop mechanic
  src/tasks/minions/minigames/nightmareActivity.ts
Labels: Type: Bug

#5826 Fix smelt chance calculation
  src/tasks/minions/smeltingActivity.ts
Labels: Type: Bug

#5827 Fix new King Goldemar boost, and an 'application did not respond' error.
  src/lib/structures/Boss.ts
  src/mahoji/commands/invention.ts
  src/mahoji/lib/abstracted_commands/kgCommand.ts
Labels: Type: Bug

#5832 Fix first age XP bonus
  src/lib/addXP.ts
Labels: BSO

#5833 Fix CL Completion / UserEvents bug
  prisma/schema.prisma
Labels: Type: Bug

#5834 Fix /data stats: Personal Activity Durations + Weekly Gains
  src/mahoji/lib/abstracted_commands/statCommand.ts
Labels: Type: Bug

#5838 Fix Elder clue issues
  src/lib/openables.ts
  src/lib/simulation/elderClue.ts
  src/lib/util/elderClueRequirements.ts
  src/mahoji/commands/clue.ts
  src/mahoji/commands/testpotato.ts
Labels: Type: Bug, BSO

#5818 Flush economy log when bot is shutting down.
  src/index.ts
  src/lib/economyLogs.ts
  src/mahoji/commands/admin.ts
Labels: Type: Bug

#5841 Revert casket opening bugfix
  src/lib/openables.ts
  tests/integration/commands/open.test.ts
Labels: BSO

#5839 Add Deviant Spectres (Aberrant Spectres) and Skotizo (Black Demons) to Slayer Mask list
  src/lib/data/slayerMaskHelms.ts
Labels: BSO

#5846 Correct MysteryBox Icon for item search
  src/lib/bsoOpenables.ts
  src/lib/events.ts
Labels: BSO

#5847 Hellfire overrides attack requirements on wildy monsters
  src/mahoji/mahojiSettings.ts
Labels: BSO

#5845 A few pet related changes
  src/lib/bsoOpenables.ts
  src/lib/customItems/customItems.ts
  src/lib/data/CollectionsExport.ts
  tests/unit/snapshots/clsnapshots.test.ts.snap
Labels: BSO

#5771 Add Crystal Impling Hunting
  src/lib/skilling/functions/calcsHunter.ts
  src/lib/skilling/skills/hunter/creatures/butterflyNetting.ts
  src/lib/util/activityInArea.ts
  src/mahoji/commands/hunt.ts
  src/tasks/minions/HunterActivity/hunterActivity.ts
Labels: Status: Help Wanted, Status: Waiting For Changes, Status: Thinking/Waiting

#5849 Arcane harvester fixes / tweaks
  src/lib/skilling/skills/farming/trees.ts
  src/lib/skilling/skills/farming/zygomites.ts
  src/lib/skilling/types.ts
  src/tasks/minions/farmingActivity.ts
Labels: BSO

#5830 Combine add+remove calls into single transactions
  src/lib/invention/inventions.ts
  src/lib/util/globalInteractions.ts
  src/lib/util/handleTripFinish.ts
  src/mahoji/lib/abstracted_commands/useCommand.ts
Labels: BSO

#5854 Allow Demonic Offering for Nightmarish ashes
  src/lib/skilling/skills/magic/castables.ts
Labels: BSO

#5855 Cleanup Scatter activity & show accurate XP results.
  src/lib/addXP.ts
  src/tasks/minions/PrayerActivity/scatteringActivity.ts
  tests/integration/MUser.test.ts
Labels: Type: Bug

#5862 Zygomites update!
  src/lib/skilling/skills/farming/zygomites.ts
  src/lib/util/handleTripFinish.ts
  src/mahoji/commands/rates.ts
  tests/unit/zygomite.test.ts
Labels: BSO

#5816 Added Venator bow
  prisma/schema.prisma
  src/lib/bankImage.ts
  src/lib/data/creatablesTable.txt
  src/lib/data/createables.ts
  src/lib/degradeableItems.ts
  src/lib/minions/data/killableMonsters/bosses/dt.ts
  src/lib/minions/data/killableMonsters/nieveMonsters.ts
  src/lib/minions/data/killableMonsters/vannakaMonsters.ts
  src/mahoji/commands/testpotato.ts
  src/mahoji/lib/abstracted_commands/barbAssault.ts
  tests/unit/snapshots/banksnapshots.test.ts.snap
  tests/unit/snapshots/clsnapshots.test.ts.snap
Labels: Status: Waiting For Changes
