Repository oldschoolgg/oldschoolbot, pull requests merged in 2024-01, with the labels that each got.

#4631 fix xp/hr visibility and xp strings + trawler xp bug
  src/lib/addXP.ts
  src/tasks/minions/HunterActivity/aerialFishingActivity.ts
  src/tasks/minions/HunterActivity/birdhouseActivity.ts
  src/tasks/minions/PrayerActivity/buryingActivity.ts
  src/tasks/minions/PrayerActivity/offeringActivity.ts
  src/tasks/minions/farmingActivity.ts
  src/tasks/minions/firemakingActivity.ts
  src/tasks/minions/minigames/agilityArenaActivity.ts
  src/tasks/minions/minigames/plunderActivity.ts
  src/tasks/minions/minigames/puroPuroActivity.ts
  src/tasks/minions/minigames/titheFarmActivity.ts
  src/tasks/minions/minigames/trawlerActivity.ts
  src/tasks/minions/minigames/wintertodtActivity.ts
  src/tasks/minions/minigames/zalcanoActivity.ts
Labels: Type: Bug, Status: Waiting For Review

#5565 Consistent box spawn times
  src/lib/boxSpawns.ts
  tests/unit/snapshots/clsnapshots.test.ts.snap
Labels: BSO

#5575 Track opened impling jars in "Personal Open Stats"
  src/mahoji/commands/clue.ts
  src/mahoji/lib/abstracted_commands/openCommand.ts
  src/mahoji/mahojiSettings.ts
Labels: Type: Bug

#5577 Disassemble Amethyst broad bolts
  src/lib/invention/groups/Projectiles.ts
  tests/unit/snapshots/clsnapshots.test.ts.snap
Labels: BSO

#5581 Fix tame status when monkey casting
  src/mahoji/commands/tames.ts
Labels: Type: Bug, BSO

#5589 Consistent trip repeat duration/qty when trips use 'until tired/satisfied' mechanic.
  src/lib/types/minions.ts
  src/lib/util/repeatStoredTrip.ts
  src/mahoji/commands/chop.ts
  src/mahoji/commands/mine.ts
  src/mahoji/lib/abstracted_commands/camdozaalCommand.ts
  src/mahoji/lib/abstracted_commands/motherlodeMineCommand.ts
Labels: Type: Bug

#5593 Minor fixes for BSO
  src/lib/customItems/customItems.ts
  src/lib/util/repeatStoredTrip.ts
  src/mahoji/lib/abstracted_commands/minionKill.ts
  src/mahoji/lib/abstracted_commands/nexCommand.ts
Labels: BSO

#5592 Fix tame status formatting
  src/mahoji/commands/tames.ts
Labels: BSO

#5601 Add 'Revert Completionist Cape (t)' creatable
  src/lib/data/creatables/bsoItems.ts
  src/lib/data/creatablesTable.txt
  tests/unit/snapshots/banksnapshots.test.ts.snap
Labels: BSO

#5598 League task fix & smithables
  src/lib/skilling/skills/smithing/smithables/dwarven.ts
  src/lib/skilling/skills/smithing/smithables/index.ts
  src/lib/skilling/skills/smithing/smithables/silver.ts
Labels: BSO

#5599 Trivia Leaderboard
  src/mahoji/commands/leaderboard.ts
Labels: BSO

#5604 Fix mysterious tree contracts
  src/tasks/minions/farmingActivity.ts
Labels: BSO
