Repository oldschoolgg/oldschoolbot, pull requests merged in 2024-11, with the labels that each got.

#6179 Dungeoneering fail message
  src/mahoji/commands/dg.ts
Labels: BSO

#6175 Golden cape
  src/lib/customItems/customItems.ts
Labels: BSO

#6173 Repeat trip fixes
  src/lib/util/repeatStoredTrip.ts
Labels: Type: Bug, BSO

#6158 crabs
  docs/src/content/docs/getting-started/wiki.md
  docs/src/content/docs/osb/Skills/mining.md
  src/lib/data/CollectionsExport.ts
  src/lib/data/buyables/buyables.ts
  src/lib/minions/data/killableMonsters/low.ts
  src/lib/skilling/skills/crafting/craftables/misc.ts
  tests/unit/snapshots/bank.OSB.png
  tests/unit/snapshots/banksnapshots.test.ts.snap
  tests/unit/snapshots/chatHead.OSB.png
  tests/unit/snapshots/cl.OSB.png
  tests/unit/snapshots/clsnapshots.test.ts.snap
  tests/unit/snapshots/cox.OSB.png
  tests/unit/snapshots/poh.OSB.png
  tests/unit/snapshots/toa.OSB.png
Labels: Status: Waiting For Changes

#6182 BSO - Colosseum Combat Achievement Fix
  src/lib/combat_achievements/elite.ts
  src/lib/combat_achievements/master.ts
Labels: BSO, Status: Waiting For Review

#6186 Remove duplicate lamp filter
  src/lib/data/filterables.ts
Labels: BSO

#6111 Clue scrolls rebalancing
  src/lib/clues/clueTiers.ts
  src/mahoji/commands/clue.ts
Labels: Status: Needs Information

#6188 Add KingGoldemar Sim
  src/lib/simulation/simulatedKillables.ts
  src/lib/structures/Boss.ts
  src/lib/workers/kill.worker.ts
  src/mahoji/commands/kill.ts
  src/tasks/minions/bso/kingGoldemarActivity.ts
Labels: BSO

#6191 update drygore prices
  src/lib/customItems/customItems.ts
Labels: BSO

#6174 Deathly collector (i)
  data/bso_items.json
  src/lib/customItems/customItems.ts
  src/lib/data/creatables/bsoItems.ts
  src/lib/data/creatablesTable.txt
  src/lib/data/similarItems.ts
  src/lib/resources/images/bso_icons/73225.png
  src/lib/resources/images/bso_spritesheet.json
  src/lib/resources/images/bso_spritesheet.png
  tests/unit/snapshots/banksnapshots.test.ts.snap
Labels: BSO

#6230 [WIKI] Update minion-icons.md page
  docs/public/images/amethyst-minion-icon.png
  docs/public/images/emerald-minion-icon.png
  docs/public/images/minion-icon.png
  docs/public/images/sapphire-minion-icon.png
  docs/public/images/white-minion-icon.png
  docs/public/images/yellow-minion-icon.png
  docs/src/content/docs/osb/Miscelleanous/minion-icons.md
Labels: Status: Waiting For Changes
