Repository oldschoolgg/oldschoolbot, pull requests merged in 2024-03, with the labels that each got.

#5742 Fix issue where LMS Sim wasn't cancelling on failure.
  src/lib/minions/functions/lmsSimCommand.ts
Labels: Type: Bug

#5747 Fix atomic energy cl slot
  src/lib/data/creatables/divinationCreatables.ts
  tests/unit/snapshots/banksnapshots.test.ts.snap
Labels: Type: Bug, BSO

#5760 Fix issue with CL notifications
  src/lib/constants.ts
  src/lib/handleNewCLItems.ts
Labels: Type: Bug

#5737 Forestry update
  prisma/schema.prisma
  src/lib/constants.ts
  src/lib/data/Collections.ts
  src/lib/data/CollectionsExport.ts
  src/lib/data/buyables/forestryBuyables.ts
  src/lib/data/creatables/forestryCreatables.ts
  src/lib/data/creatablesTable.txt
  src/lib/data/similarItems.ts
  src/lib/minions/functions/addSkillingClueToLoot.ts
  src/lib/simulation/birdsNest.ts
  src/lib/skilling/functions/determineWoodcuttingTime.ts
  src/lib/skilling/skills/woodcutting.ts
  src/lib/skilling/types.ts
  src/lib/types/minions.ts
  src/lib/util/repeatStoredTrip.ts
  src/mahoji/commands/chop.ts
  src/mahoji/commands/sell.ts
  src/tasks/minions/woodcuttingActivity.ts
  tests/unit/snapshots/banksnapshots.test.ts.snap
  tests/unit/snapshots/clsnapshots.test.ts.snap
Labels: Status: Waiting For Review

#5803 Fix broken slayer tasks
  src/lib/slayer/slayerUtil.ts
  src/lib/slayer/tasks/chaeldarTasks.ts
  src/lib/slayer/tasks/duradelTasks.ts
  src/lib/slayer/tasks/nieveTasks.ts
  src/lib/slayer/tasks/vannakaTasks.ts
Labels: Type: Bug

#5801 Fixes some bugs in the user-event CL tracking
  src/lib/data/Collections.ts
  src/lib/util/clLeaderboard.ts
  src/mahoji/commands/leaderboard.ts
Labels: Type: Bug
