Repository oldschoolgg/oldschoolbot, pull requests merged in 2024-10, with the labels that each got.

#6071 Fix casket sim
  src/mahoji/commands/casket.ts
Labels: BSO

#6083 Fix DT2 cl
  src/lib/data/Collections.ts
Labels: Type: Bug, BSO

#6084 Add back clue hunter cloak/boots from unicorn
  src/tasks/minions/monsterActivity.ts
Labels: BSO

#5306 Ourania Altar
  prisma/schema.prisma
  src/lib/Task.ts
  src/lib/skilling/skills/runecraft.ts
  src/lib/types/minions.ts
  src/lib/util/minionStatus.ts
  src/lib/util/repeatStoredTrip.ts
  src/lib/util/updateBankSetting.ts
  src/mahoji/commands/runecraft.ts
  src/mahoji/lib/abstracted_commands/ouraniaAltarCommand.ts
  src/tasks/minions/ouraniaAltarActivity.ts
Labels: Status: Waiting For Review

#6048 Add a way to trade Scurrius' spines for combat xp
  src/lib/data/createables.ts
  src/lib/data/itemAliases.ts
  src/mahoji/lib/abstracted_commands/lampCommand.ts
  tests/unit/snapshots/banksnapshots.test.ts.snap
  tests/unit/snapshots/clsnapshots.test.ts.snap
Labels: Status: Waiting For Changes, OSRS Content

#6119 Fix box spawn replies
  src/lib/boxSpawns.ts
Labels: Type: Bug, BSO

#6113 Allow irons to donate ICs
  src/lib/util/globalInteractions.ts
Labels: BSO

#6116 Add skill cape perks to comp & master cape
  src/lib/data/buyables/bsoBuyables.ts
  src/lib/data/creatables/bsoItems.ts
  src/lib/data/similarItems.ts
  src/lib/skilling/skillcapes.ts
  tests/unit/Gear.test.ts
  tests/unit/similarItems.test.ts
Labels: BSO

#6149 Finish Wyrm Agility
  src/lib/skilling/skills/agility.ts
  src/lib/skilling/types.ts
  src/tasks/minions/agilityActivity.ts
Labels: Type: Bug, BSO

#6137 Fix cox repeat trip
  src/lib/util/repeatStoredTrip.ts
Labels: Type: Bug, BSO

#6127 Fix alch agility items choice
  src/lib/MUser.ts
  src/mahoji/commands/laps.ts
  src/mahoji/lib/abstracted_commands/alchCommand.ts
Labels: Status: Waiting For Review

#6042 Forester's ration
  prisma/schema.prisma
  src/lib/Task.ts
  src/lib/skilling/skills/cooking/forestersRations.ts
  src/lib/skilling/types.ts
  src/lib/types/minions.ts
  src/lib/util/minionStatus.ts
  src/lib/util/repeatStoredTrip.ts
  src/mahoji/commands/cook.ts
  src/mahoji/lib/abstracted_commands/forestersRationCommand.ts
  src/tasks/minions/forestersRationActivity.ts
Labels: Status: Waiting For Review, OSRS Content

#5755 [TESTED]Clean while Farming: Korulsi & subtext
  src/lib/bankImage.ts
  src/lib/skilling/skills/farming/herbPlants.ts
Labels: BSO

#6117 Fix ash sanctifier
  src/lib/util/ashSanctifier.ts
  src/tasks/minions/minigames/zalcanoActivity.ts
  src/tasks/minions/monsterActivity.ts
Labels: Type: Bug, Status: Waiting For Review

#6156 construction rebalance
  src/lib/skilling/skills/construction/constructables.ts
  src/mahoji/commands/build.ts
Labels: Status: Waiting For Review

#6118 mining effect fix
  docs/src/content/docs/osb/Skills/mining.md
  src/lib/skilling/functions/determineMiningTime.ts
  src/lib/skilling/functions/miningBoosts.ts
  src/mahoji/commands/mine.ts
  src/mahoji/lib/abstracted_commands/camdozaalCommand.ts
  src/mahoji/lib/abstracted_commands/motherlodeMineCommand.ts
  src/mahoji/lib/abstracted_commands/shootingStarsCommand.ts
Labels: Status: Waiting For Review
