Repository oldschoolgg/oldschoolbot, pull requests merged in 2024-09, with the labels that each got.

#6037 Fix Slepey tablet logic for bso
  src/tasks/minions/minigames/nightmareActivity.ts
Labels: BSO

#6062 Crystal shard rates buff
  src/lib/simulation/gauntlet.ts
  src/lib/skilling/skills/farming/specialPlants.ts
  src/tasks/minions/agilityActivity.ts
  src/tasks/minions/woodcuttingActivity.ts
Labels: Status: Waiting For Changes

#6030 Completion cape adjustments
  src/lib/compCape.ts
  src/lib/customItems/customItems.ts
  src/lib/data/CollectionsExport.ts
  src/lib/data/buyables/capes.ts
  src/lib/data/creatables/armorPacks.ts
  src/lib/data/createables.ts
  tests/unit/snapshots/banksnapshots.test.ts.snap
  tests/unit/snapshots/clsnapshots.test.ts.snap
Labels: BSO, Status: Waiting For Review

#6024 Dynamic PMB & item search fix
  src/lib/bsoOpenables.ts
  src/lib/data/CollectionsExport.ts
  src/lib/events.ts
  src/mahoji/commands/ic.ts
  tests/unit/bso/dyedItems.bso.test.ts
  tests/unit/bso/mysteryboxes.bso.test.ts
  tests/unit/sanity.test.ts
  tests/unit/snapshots/clsnapshots.test.ts.snap
  tests/unit/trophies.bso.test.ts
Labels: BSO

#5995 Fix cooking message
  src/mahoji/commands/cook.ts
Labels: BSO

#5984 [BSO] Colosseum QOL + Multi attempts per trip
  src/lib/bso/gorajanGearBoost.ts
  src/lib/colosseum.ts
  src/lib/combat_achievements/combatAchievements.ts
  src/lib/combat_achievements/elite.ts
  src/lib/combat_achievements/grandmaster.ts
  src/lib/combat_achievements/master.ts
  src/lib/constants.ts
  src/lib/data/creatables/bsoItems.ts
  src/lib/data/creatablesTable.txt
  src/lib/data/similarItems.ts
  src/lib/degradeableItems.ts
  src/lib/types/minions.ts
  src/lib/util/repeatStoredTrip.ts
  src/mahoji/commands/simulate.ts
  src/mahoji/lib/abstracted_commands/minionKill/minionKill.ts
  src/tasks/minions/colosseumActivity.ts
  tests/unit/snapshots/banksnapshots.test.ts.snap
Labels: BSO, Status: Waiting For Review
