Repository oldschoolgg/oldschoolbot, pull requests merged in 2024-02, with the labels that each got.

#5624 Fix Dungeoneering loot bug
  src/tasks/minions/bso/dungeoneeringActivity.ts
Labels: Type: Bug, BSO

#5621 Fix tradePlayerItems / stale bank overwrite bug.
  src/lib/util/tradePlayerItems.ts
  tests/integration/paymentConflict.test.ts
  tests/integration/setup.ts
Labels: Type: Bug

#5638 Fixes and additions to /kill command
  src/lib/minions/data/killableMonsters/custom/demiBosses.ts
  src/lib/simulation/simulatedKillables.ts
  src/lib/workers/kill.worker.ts
  src/mahoji/commands/kill.ts
Labels: BSO

#5625 Fix Reverting Gatherer's cape
  src/lib/bso/expertCapes.ts
Labels: Type: Bug, BSO

#5619 Receive Guthix god favour from Guthixian cache
  src/tasks/minions/bso/guthixianCacheActivity.ts
Labels: Type: Suggestion, BSO

#5618 Return all items when reverting Completionist cape
  src/lib/data/creatables/bsoItems.ts
Labels: Type: Bug, BSO

#5634 Add toggle to Auto Slay Button
  src/lib/constants.ts
  src/lib/util/handleTripFinish.ts
  src/mahoji/commands/config.ts
  src/mahoji/lib/abstracted_commands/minionStatusCommand.ts
Labels: Status: Waiting For Review

#5647 Fix gear presets
  src/lib/MUser.ts
  src/mahoji/commands/gearpresets.ts
  src/mahoji/lib/abstracted_commands/gearCommands.ts
  src/mahoji/lib/mahojiCommandOptions.ts
  tests/integration/commands/gearPresets.test.ts
  tests/integration/commands/gifts.test.ts
  tests/integration/gearFixing.test.ts
Labels: Type: Bug

#5607 Fix 'permanent busy' bug that occurs after deleting a pending confirmation
  src/lib/util/interactionHelpers.ts
  src/lib/util/interactionReply.ts
Labels: Type: Bug

#5653 Minor cl fixes
  src/lib/data/Collections.ts
  src/lib/settings/minigames.ts
Labels: BSO

#5659 First wave of "Works from Bank" poll results
  src/lib/addXP.ts
  src/lib/implings.ts
  src/lib/invention/disassemble.ts
  src/lib/invention/inventions.ts
  src/lib/openables.ts
  src/lib/skilling/functions/calcsRunecrafting.ts
  src/lib/util/calcMaxTripLength.ts
  src/lib/util/handleTripFinish.ts
  src/mahoji/commands/chop.ts
  src/mahoji/commands/clue.ts
  src/mahoji/commands/cook.ts
  src/mahoji/commands/craft.ts
  src/mahoji/commands/fish.ts
  src/mahoji/commands/fletch.ts
  src/mahoji/commands/smelt.ts
  src/mahoji/commands/smith.ts
  src/mahoji/commands/testpotato.ts
  src/mahoji/lib/abstracted_commands/giantsFoundryCommand.ts
  src/mahoji/lib/abstracted_commands/minionKill.ts
  src/mahoji/lib/abstracted_commands/monkeyRumbleCommand.ts
  src/mahoji/lib/abstracted_commands/motherlodeMineCommand.ts
  src/mahoji/lib/abstracted_commands/wintertodtCommand.ts
  src/mahoji/mahojiSettings.ts
  src/tasks/minions/HunterActivity/aerialFishingActivity.ts
  src/tasks/minions/HunterActivity/hunterActivity.ts
  src/tasks/minions/PrayerActivity/offeringActivity.ts
  src/tasks/minions/bso/disassemblingActivity.ts
  src/tasks/minions/bso/guthixianCacheActivity.ts
  src/tasks/minions/bso/memoryHarvestActivity.ts
  src/tasks/minions/cookingActivity.ts
  src/tasks/minions/firemakingActivity.ts
  src/tasks/minions/fishingActivity.ts
  src/tasks/minions/herbloreActivity.ts
  src/tasks/minions/minigames/guardiansOfTheRiftActivity.ts
  src/tasks/minions/minigames/temporossActivity.ts
  src/tasks/minions/minigames/trawlerActivity.ts
  src/tasks/minions/minigames/wintertodtActivity.ts
  src/tasks/minions/monsterActivity.ts
  src/tasks/minions/runecraftActivity.ts
  src/tasks/minions/smeltingActivity.ts
  src/tasks/minions/volcanicMineActivity.ts
  src/tasks/minions/woodcuttingActivity.ts
Labels: BSO

#5654 Change Kills/KC to Completions for minigame strings
  src/lib/data/Collections.ts
Labels: Type: Suggestion, BSO

#5666 Farming Fixes - Don't use Invention unless harvesting, correct check for Mysterious trees.
  src/tasks/minions/farmingActivity.ts
Labels: BSO

#5665 Add guthixian cache stats
  src/mahoji/commands/bsominigames.ts
Labels: BSO

#5669 Fix BSO Inferno cl
  src/lib/data/CollectionsExport.ts
  tests/unit/snapshots/clsnapshots.test.ts.snap
Labels: BSO

#5667 Fix for dt tablets
  src/lib/minions/data/killableMonsters/bosses/dt.ts
Labels: Type: Bug, BSO

#5672 Remove extra TOB clue scrolls
  src/lib/simulation/tob.ts
  src/tasks/minions/minigames/tobActivity.ts
Labels: Status: Waiting For Review

#5685 Add back big bonanaza to non repeatable trips
  src/lib/util/repeatStoredTrip.ts
Labels: BSO

#5718 Eagle Tame Fixes
  src/mahoji/commands/tames.ts
  src/tasks/tames/tameTasks.ts
Labels: BSO

#5719 Fix emojis in pinned trips / gearpresets.
  src/mahoji/commands/config.ts
  src/mahoji/commands/gearpresets.ts
Labels: Type: Bug

#5734 Fix exploit with Supply crates
  src/mahoji/lib/abstracted_commands/openCommand.ts
Labels: Type: Bug, BSO
