Repository oldschoolgg/oldschoolbot, pull requests merged in 2025-09, with the labels that each got.

#6513 Update Moktang return trip
  src/tasks/minions/bso/moktangActivity.ts
Labels: BSO

#6521 Update lamp ge buy limits
  src/lib/customItems/customItems.ts
Labels: BSO

#6512 Fix Tame itemCost usage
  src/mahoji/commands/tames.ts
Labels: Type: Bug, BSO

#6510 Fix team cape stash bug
  src/lib/clues/stashUnits.ts
Labels: Type: Bug

#6526 Tasty pum pum paint preview
  src/lib/canvas/renderPaintGrid.ts
  src/mahoji/commands/paint.ts
Labels: BSO

#6532 Fix dry streak items causing an error
  src/mahoji/commands/tools.ts
Labels: Type: Bug, BSO
